{% import './_macros.css' %}

/* Tags */
.tags-list {
  margin: -.125rem -.125rem .75rem -.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.tag {
  line-height: 1;
  padding: .325rem;
  margin: .125rem;
  display: inline-block;
  background-color: {{ light_color }};
  color: {{ primary_color }};
  border-radius: {{ button_border_radius / 2 ~ 'px' }};
}
.tag-link:hover,
.tag-link:focus {
  background-color: {{ color_variant(primary_color, -50) }};
  color: {{ light_color }};
}


/*************** Blog Index ***************/
/* Blog header */
.blog-header {
  background-color: {{ dark_color }};
  color: {{ light_color }};
  text-align: left;
  padding: {{ vertical_spacing *.5 ~ 'px' }} 20px;
}
.blog-header__inner {
  max-width: {{ max_width ~ 'px' }};
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
.blog-header__title {
  color: {{ light_color }};
  width: 100%;
  margin: 0;
}

@media (min-width: 768px) {
  .blog-header {
    padding: {{ vertical_spacing * .75 ~ 'px' }} 20px;
    text-align: center;
  }
}

/* Blog header - author listing */
.blog-header__author-avatar {
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
  display: block;
  height: auto;
  margin: 0 auto 1.4rem;
  width: 200px;
}
.blog-header__author-social-links a {
  background-color: #000;
  border-radius: 50%;
  display: inline-block;
  height: 40px;
  margin: 0 5px;
  position: relative;
  width: 40px;
}
.blog-header__author-social-links a:hover,
.blog-header__author-social-links a:focus {
  background-color: #494A52;
}
.blog-header__author-social-links svg {
  fill: {{ light_color }};
  height: 15px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
}

/* Blog listing */
.blog-index-wrapper {
  padding: {{ vertical_spacing * .5 ~ 'px' }} 20px;
}
.blog-index {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Blog Cards*/
.blog-card {
  -webkit-box-flex:  0;
  -ms-flex:  0 0 100%;
  flex:  0 0 100%;
  margin-bottom: 1.5rem;
  color: {{ body_color }};
}
.blog-card-inner {
  height: 100%;
  background-color: {{ light_color }};
  {{ transition() }}
  border-radius: {{ theme.blog.blog_post_card_border_radius ~ 'px' }};
}
.blog-card-image-wrapper {
  overflow: hidden;
  border-radius: {{ theme.blog.blog_post_card_border_radius ~ 'px' }} {{ theme.blog.blog_post_card_border_radius ~ 'px' }} 0 0;
}
.blog-card-image {
  display: block;
  background-image: url({{ get_asset_url('../images/grayscale-mountain.png') }});
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: {{ theme.blog.blog_post_image_height / theme.blog.blog_post_image_width * 100 ~ '%' }}; /* This number gives the image it's proper size. It is derived as  image_height / image_width * 100% */
  border-radius: {{ theme.blog.blog_post_card_border_radius ~ 'px' }} {{ theme.blog.blog_post_card_border_radius ~ 'px' }} 0 0;
}
.card-hover--card-zoom > a > .blog-card-image-wrapper,
.card-hover--image-zoom > a > .blog-card-image-wrapper {
  padding-bottom: 0;
}
.blog-card-content {
  padding: 1.25rem;
}
.blog-card-title {
  margin: 0 0 .625rem;
  font-size: 1.25rem;
}
.blog-card--large .blog-card-title {
  font-size: 1.75rem;
}
.blog-card-content p {
  color: {{ body_color }};
  margin-bottom: 0;
}
.blog-card-meta-wrapper {
  font-size: .875rem;
  color: {{ body_color }};
}
.blog-card-meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 1;
  margin-top: .5rem;
}
.blog-card-meta svg {
  fill: {{ body_color }};
  margin-right: .5rem;
}

@media (max-width: 767px) {
  .blog-card  {
    transition-delay: {{ theme.animations.animation_delay ~ 'ms' }} !important;
  }
}

@media (min-width: 768px) {
  .blog-index-wrapper {
    padding: {{ vertical_spacing * .75 ~ 'px' }} 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48.25%;
    flex: 0 0 48.25%;
    margin-right: 3.5%;
  }
  .blog-card:nth-child(even) {
    margin-right: 0;
  }
  .blog-card:nth-of-type(even),
  .body-container-wrapper[class*="blog-page"]:not(.blog-page_1) .blog-card:nth-of-type(odd) {
    transition-delay: {{ theme.animations.animation_delay ~ 'ms' }} !important;
  }
  .blog-card:nth-of-type(odd):not(.blog-card--large),
  .body-container-wrapper[class*="blog-page"]:not(.blog-page_1) .blog-card:nth-of-type(even) {
    transition-delay: {{ theme.animations.animation_delay * 2 ~ 'ms' }} !important;
  }
}

@media (min-width: 992px) {
  .blog-card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 31%;
    flex: 0 0 31%;
    margin-right: 3.5%;
  }
  .blog-card--large {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 65.5%;
    flex: 0 0 65.5%;
    margin-right: 3.5%;
  }
  .blog-card--large .blog-card-meta-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .blog-card--large .blog-card-meta:not(:last-child) {
    border-right: 1px solid {{ body_color }};
    padding-right: .5rem;
    margin-right: .5rem;
  }
  .blog-card--small:nth-child(3n+2) {
    margin-right: 0;
  }
  .body-container-wrapper[class*="blog-page"]:not(.blog-page_1) .blog-card--small:nth-child(3n) {
    margin-right: 0;
  }
  .body-container-wrapper[class*="blog-page"]:not(.blog-page_1) .blog-card--small:nth-child(3n+2) {
    margin-right: 3.5%;
  }
}

/* Blog sidebar-card */
.blog-index__sidebar-wrapper {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 31%;
  flex: 0 0 31%;
  margin-bottom: 1.5rem;
  background-color: {{ light_color }};
  border-radius: {{ theme.blog.blog_post_card_border_radius ~ 'px' }};
}
.blog-index__sidebar {
  padding: 1.25rem;
}
.blog-index__sidebar h4 {
  font-size: 1.5rem;
  color: {{dark_color}};
}
.blog-index__sidebar form {
  padding: 0;
  background: transparent;
  border: none;
}
.blog-index__sidebar input {
  width: 100%;
}
.blog-index__sidebar input[type=text],
.blog-index__sidebar input[type=email] {
    width: 100%;
    background-color: {{ light_gray_color }};
}
.blog-index__sidebar-tags-list,
.blog-index__sidebar-subscribe {
  margin-top: 2rem;
}
.blog-index__sidebar-tags-list .tag {
  border: 1px solid {{ primary_color }};
}
.blog-index__sidebar-tags-list .tag:not(:hover) {
  background-color: transparent;
}
.blog-index__sidebar-subscribe .form-title {
  display: none;
}
.blog-index__sidebar-subscribe .hs-email > label {
  display: none;
}
.blog-index__sidebar-subscribe .hs_error_rollup {
  display: none;
}
.blog-index__sidebar-tags-list ul {
  padding-left: 0;
  list-style: none;
}

@media (max-width: 767px) {
  .blog-index__sidebar-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    order: 2;
    transition-delay: {{ theme.animations.animation_delay ~ 'ms' }} !important;
  }
  .blog-index__sidebar-wrapper:last-child {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-index__sidebar-wrapper {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 48.25%;
    flex: 0 0 48.25%;
    margin-right: 0;
  }
}

/* Blog pagination */
.blog-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  margin: 1.25rem auto 0;
}
.blog-pagination__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border: 2px solid transparent;
  border-radius: {{ button_border_radius ~ 'px' }};
  line-height: 1;
  margin: 0 0.1rem;
  padding: 0.25rem 0.4rem;
  text-decoration: none;
  color: {{ body_color }};
}
.blog-pagination__link--active {
  border: 2px solid {{ body_color }};
  background-color: {{ primary_color }};
  color: {{ light_color }};
}
.blog-pagination__link:hover,
.blog-pagination__link:focus {
  text-decoration: none;
  color: {{ body_color }};
}
.blog-pagination__prev-link,
.blog-pagination__next-link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.blog-pagination__prev-link {
  margin-right: 0.25rem;
}
.blog-pagination__next-link {
  margin-left: 0.25rem;
}
.blog-pagination__link.blog-pagination__prev-link--disabled,
.blog-pagination__link.blog-pagination__next-link--disabled {
  color: rgba(40, 40, 40, .5);
  cursor: default;
  pointer-events: none;
}
.blog-pagination__prev-link svg,
.blog-pagination__next-link svg {
  fill: {{ body_color }};
  margin: 0 0.3rem;
}
.blog-pagination__prev-link--disabled svg,
.blog-pagination__next-link--disabled svg {
  fill: rgba(40, 40, 40, .5);
}
.blog-pagination__number-link:hover,
.blog-pagination__number-link:focus {
  border: 2px solid {{ body_color }};
}


/*************** Blog Post ***************/
/* Post Header */
.blog-post__header {
  padding: {{ vertical_spacing * .5 ~ 'px' }} 20px;
  background-color: {{ light_gray_color }};
}
.blog-post__header h1 {
  font-size: 2.25rem;
  margin-bottom: .75rem;
}
.blog-post__header-data {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 41.5%;
  flex: 1 1 41.5%;
  margin-right: 3.5%;
}
.blog-post__header .tag {
  border: 1px solid {{ primary_color }};
}
.blog-post__header .tag:not(:hover) {
  background-color: transparent;
}

@media (min-width: 768px) {
  .blog-post__header {
    padding: {{ vertical_spacing * .75 ~ 'px' }} 20px;
  }
  .blog-post__header h1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 992px) {
  .blog-post__header .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.blog-post__back {
  display: inline-block;
  margin-bottom: 1rem;
  color: {{ body_color }};
}
.blog-post__meta {
  font-size: .875rem;
  color: {{ body_color }};
  display: block;
}
.blog-post__meta--author {
  display: inline-block;
}
.blog-post__image {
  display: block;
  background-image: url({{ get_asset_url('../images/grayscale-mountain.png') }});
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: {{ theme.blog.blog_post_image_height / theme.blog.blog_post_image_width * 100 ~ '%' }}; /* This number gives the image it's proper size. It is derived as  image_height / image_width * 100% */
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  margin-top: .75rem;
}

@media (min-width: 992px) {
  .blog-post__image {
    padding-bottom: {{ theme.blog.blog_post_image_height / theme.blog.blog_post_image_width * 55 ~ '%' }}; /* This number gives the image it's proper size. It is derived as  image_height / image_width * flex_width */
    -webkit-box-flex: 0;
    -ms-flex: 0 0 55%;
    flex: 0 0 55%;
    margin-top: 0;
  }
}

/* Post Body */
.blog-post__body {
  padding: {{ vertical_spacing * .5 ~ 'px' }} 20px;
}
.blog-post__body .container {
  position: relative;
}
.blog-post__body-inner {
  max-width: {{ max_width * .75 ~ 'px' }};
  margin: 0 auto;
}

@media (min-width: 768px) {
  .blog-post__body {
    padding: {{ vertical_spacing * .75 ~ 'px' }} 20px;
    position: relative;
  }
}

/* Share Links*/
.blog-post__share {
  width: 25px;
  margin-top: 1.5rem;
}
.blog-post__share-inner {
  position: sticky;
  top: {{ vertical_spacing * 2 ~ 'px' }};
}
.blog-post__share-inner .hs_cos_wrapper_type_social_sharing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-post__share-inner a {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 24px;
  flex: 0 0 24px;
  height: 24px;
  margin: 0 10px 0 0;
}

@media (min-width: 992px) {
  .blog-post__share {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
  }
  .blog-post__share-inner .hs_cos_wrapper_type_social_sharing {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .blog-post__share-inner a {
    margin: 0 0 10px;
  }
}

/* Blog related posts */
.blog-related-posts {
  background-color: {{ light_gray_color }};
  padding: {{ vertical_spacing * .5 ~ 'px' }} 20px;
}
.blog-related-posts h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.blog-related-posts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width: 768px) and (max-width: 991px) {
  .blog-related-posts {
    padding: {{ vertical_spacing * .75 ~ 'px' }} 20px;
  }
  .blog-related-posts .blog-card {
    margin-bottom: 1.5rem;
  }
  .blog-related-posts .blog-card:nth-of-type(odd) {
    transition-delay: {{ theme.animations.animation_delay ~ 'ms' }} !important;
  }
  .blog-related-posts .blog-card:nth-of-type(even) {
    transition-delay: {{ theme.animations.animation_delay * 2 ~ 'ms' }} !important;
    margin-right: 0;
  }
}

@media (min-width: 992px) {
  .blog-related-posts {
    padding: {{ vertical_spacing ~ 'px' }} 20px;
  }
  .blog-related-posts .blog-card {
    margin-bottom: 0;
  }
  .blog-related-posts .blog-card:nth-child(3n) {
    margin-right: 0;
  }
}

/* Reading progress bar */
.progress-wrapper {
  width: 100%;
  height: 5px;
  background-color: {{ light_gray_color }};
  position: sticky;
  top: 0;
  z-index: 1;
}
.progress-bar {
  width: 0;
  max-width: 100%;
  height: 5px;
  background-color: {{ primary_color }};
}

/* Blog comments */
.blog-comments {
  margin: 0 auto {{ vertical_spacing ~ 'px' }};
  padding: 0 20px;
  max-width: {{ ( max_width * .75 ) + 40 ~ 'px' }};
}
.blog-comments .comment-reply-to {
  border: 0 none;
}
.blog-comments .comment-reply-to:hover,
.blog-comments .comment-reply-to:focus {
  background-color: transparent;
  text-decoration: underline;
}
#comments-listing .comment-reply-to {
  color: {{ link_color }};
}
#comments-listing .comment-reply-to:hover,
#comments-listing .comment-reply-to:focus {
  opacity: .6;
}