{% import './_macros.css' %}

/* Default Button*/
button,
.button,
.hs-button {
  cursor: pointer;
  display: inline-block;
  font-size: .875rem;
  line-height: 1.2;
  text-align: center;
  {{ transition() }}
  white-space: normal;
  text-decoration: none;
  {% if button_uppercase %}
  text-transform: uppercase;
  {% endif %}
  font-weight: {{ button_font.styles|attr('font-weight') }};;
  font-family: {{ button_font.font }};
  padding: {{ button_vertical_padding ~ 'px' ~ ' ' ~ button_horizontal_padding ~ 'px' }};
  letter-spacing: {{ button_letter_spacing ~ 'px' }};
  border: {{ button_border_width ~ 'px solid' }};
  border-radius: {{ button_border_radius ~ 'px' }};
  background-color: {{ primary_color }};
  border-color: {{ primary_color }};
  color: #FFFFFF;  
}
button:hover,
button:focus,
.button:hover,
.button:focus,
.hs-button:hover,
.hs-button:focus {
  text-decoration: none;
  opacity: 1;
  background-color: {{ color_variant(primary_color, -50) }};
  border-color: {{ color_variant(primary_color, -50) }};
  color: #FFFFFF;  
}
{#button:active,
.button:active,
.hs-button:active {
  text-decoration: none;
  opacity: 1;
  background-color: {{ color_variant(primary_color, +50) }};
  border-color: {{ color_variant(primary_color, +50) }};
  color: #FFFFFF;
}#}
button:disabled,
.button:disabled
.hs-button:disabled {
  text-decoration: none;
  opacity: 1;
  background-color: {{ light_gray_color }};
  border-color: {{ light_gray_color }};
  color: {{ dark_gray_color }};
}

/* Primary Button */
.button-primary {
  background-color: {{ primary_color }};
  border-color: {{ primary_color }};
}
.button-primary:hover,
.button-primary:focus {
  background-color: {{ color_variant(primary_color, -50) }};
  border-color: {{ color_variant(primary_color, -50) }};
}

/* Secondary Button */
.button-secondary {
  background-color: {{ secondary_color }};
  border-color: {{ secondary_color }};
}
.button-secondary:hover,
.button-secondary:focus {
  background-color: {{ color_variant(secondary_color, -50) }};
  border-color: {{ color_variant(secondary_color, -50) }};
}

/* Light Button */
.button-light {
  background-color: {{ light_color }};
  border-color: {{ light_color }};
  color: {{ dark_color }};
}
.button-light:hover,
.button-light:focus {
  background-color: {{ dark_color }};
  border-color: {{ dark_color }};
  color: {{ light_color }};
}

/* Dark Button */
.button-dark {
  background-color: {{ dark_color }};
  border-color: {{ dark_color }};
  color: {{ light_color }};
}
.button-dark:hover,
.button-dark:focus {
  background-color: {{ light_color }};
  border-color: {{ light_color }};
  color: {{ dark_color }};
}

/* Light Gray Button */
.button-light-gray {
  background-color: {{ light_gray_color }};
  border-color: {{ light_gray_color }};
  color: {{ dark_gray_color }};
}
.button-light-gray:hover,
.button-light-gray:focus {
  background-color: {{ dark_gray_color }};
  border-color: {{ dark_gray_color }};
  color: {{ light_gray_color }};
}

/* Dark Gray Button */
.button-dark-gray {
  background-color: {{ dark_gray_color }};
  border-color: {{ dark_gray_color }};
  color: {{ light_gray_color }};
}
.button-dark-gray:hover,
.button-dark-gray:focus {
  background-color: {{ light_gray_color }};
  border-color: {{ light_gray_color }};
  color: {{ dark_gray_color }};
}

/* Link Button */
.button-link {
  background-color: {{ link_color }};
  border-color: {{ link_color }};
  color: {{ light_color }};
}
.button-link:hover,
.button-link:focus {
  background-color: {{ link_hover_focus_color }};
  border-color: {{ link_hover_focus_color }};
  color: {{ light_color }};
}

/* Primary Button Outline */
.button-outline-primary {
  background-color: transparent;
  border-color: {{ primary_color }};
  color: {{ primary_color }};
}
.button-outline-primary:hover,
.button-outline-primary:focus {
  background-color: {{ primary_color }};
  border-color: {{ primary_color }};
  color: {{ light_color }};
}

/* Secondary Button Outline */
.button-outline-secondary {
  background-color: transparent;
  border-color: {{ secondary_color }};
  color: {{ secondary_color }};
}
.button-outline-secondary:hover,
.button-outline-secondary:focus {
  background-color: {{ secondary_color }};
  border-color: {{ secondary_color }};
  color: {{ light_color }};
}

/* Light Button Outline */
.button-outline-light {
  background-color: transparent;
  border-color: {{ light_color }};
  color: {{ light_color }};
}
.button-outline-light:hover,
.button-outline-light:focus {
  background-color: {{ light_color }};
  border-color: {{ light_color }};
  color: {{ dark_color }};
}

/* Dark Button Outline */
.button-outline-dark {
  background-color: transparent;
  border-color: {{ dark_color }};
  color: {{ dark_color }};
}
.button-outline-dark:hover,
.button-outline-dark:focus {
  background-color: {{ dark_color }};
  border-color: {{ dark_color }};
  color: {{ light_color }};
}

/* Light Gray Button Outline */
.button-outline-light-gray {
  background-color: transparent;
  border-color: {{ light_gray_color }};
  color: {{ light_gray_color }};
}
.button-outline-light-gray:hover,
.button-outline-light-gray:focus {
  background-color: {{ light_gray_color }};
  border-color: {{ light_gray_color }};
  color: {{ light_color }};
}

/* Dark Gray Button Outline */
.button-outline-dark-gray {
  background-color: transparent;
  border-color: {{ dark_gray_color }};
  color: {{ dark_gray_color }};
}
.button-outline-dark-gray:hover,
.button-outline-dark-gray:focus {
  background-color: {{ dark_gray_color }};
  border-color: {{ dark_gray_color }};
  color: {{ light_color }};
}

/* Link Button Outline */
.button-outline-link {
  background-color: transparent;
  border-color: {{ link_color }};
  color: {{ link_color }};
}
.button-outline-link:hover,
.button-outline-link:focus {
  background-color: {{ link_hover_focus_color }};
  border-color: {{ link_hover_focus_color }};
  color: {{ light_color }};
}