/* Animations off */
.hs-inline-edit [data-aos] {
  opacity: 1 !important;
  transform: none !important;
}

/* Website Header overlap fix*/
.hs-inline-edit header {
  position: unset !important;
  margin-top: 0 !important;
}
.hs-inline-edit .body-wrapper.header-type-default:before,
.hs-inline-edit .body-wrapper.header-type-transparent .hero-banner:before {
  content: none;
}