/* Container */
.container {
  width: 100%;
  max-width: {{ max_width  ~ 'px' }};
  margin: 0 auto;
}

/* Full Height */
.full-height {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Full Width */
.full-width {
  width: 100%;
  max-width: 100%;
}

/* Text Alignment */
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* Flex Alignment - Horizontal */
.justify-left {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
}
.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.justify-right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

/* Flex Basis - Width in 12 col grid */
.flex-basis-1 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
}
.flex-basis-2 {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
}
.flex-basis-3 {
  -ms-flex-preferred-size: 33.33%;
  flex-basis: 33.33%;
}
.flex-basis-4 {
  -ms-flex-preferred-size: 25%;
  flex-basis: 25%;
}
.flex-basis-5 {
  -ms-flex-preferred-size: 20%;
  flex-basis: 20%;
}
.flex-basis-6 {
  -ms-flex-preferred-size: 16.66%;
  flex-basis: 16.66%;
}
.flex-basis-7 {
  -ms-flex-preferred-size: 14.28%;
  flex-basis: 14.28%;
}
.flex-basis-8 {
  -ms-flex-preferred-size: 12.5%;
  flex-basis: 12.5%;
}
.flex-basis-9 {
  -ms-flex-preferred-size: 11.11%;
  flex-basis: 11.11%;
}
.flex-basis-10 {
  -ms-flex-preferred-size: 10%;
  flex-basis: 10%;
}
.flex-basis-11 {
  -ms-flex-preferred-size: 9.09%;
  flex-basis: 9.09%;
}
.flex-basis-12 {
  -ms-flex-preferred-size: 8.33%;
  flex-basis: 8.33%;
}

/* Text Color */
.color-body,
.color-body svg {
  color: {{ body_color }};
  fill: {{ body_color }};
}
.color-primary,
.color-primary svg {
  color: {{ primary_color }};
  fill: {{ primary_color }};
}
.color-secondary,
.color-secondary svg {
  color: {{ secondary_color }};
  fill: {{ secondary_color }};
}
.color-dark,
.color-dark svg {
  color: {{ dark_color }};
  fill: {{ dark_color }};
}
.color-light,
.color-light svg {
  color: {{ light_color }};
  fill: {{ light_color }};
}
.color-dark-gray,
.color-dark-gray svg {
  color: {{ dark_gray_color }};
  fill: {{ dark_gray_color }};
}
.color-light-gray,
.color-light-gray svg {
  color: {{ light_gray_color }};
  fill: {{ light_gray_color }};
}

/* Background Fixed */
.bg-fixed {
  background-attachment: fixed;
}

/* Background Color */
.bg-transparent {
  background-color: transparent;
}
.bg-primary {
  background-color: {{ primary_color }};
}
.bg-secondary {
  background-color: {{ secondary_color }};
}
.bg-dark {
  background-color: {{ dark_color }}
}
.bg-light {
  background-color: {{ light_color }}
}
.bg-dark-gray {
  background-color: {{ dark_gray_color }};
}
.bg-light-gray {
  background-color: {{ light_gray_color }};
}

/* Pseudo Element Background Color */
.pe-transparent:before,
.pe-transparent:after {
  background-color: transparent;
  color: transparent;
}
.pe-primary:before,
.pe-primary:after {
  background-color: {{ primary_color }};
  color: {{ primary_color }};
}
.pe-secondary:before,
.pe-secondary:after {
  background-color: {{ secondary_color }};
  color: {{ secondary_color }};
}
.pe-dark:before,
.pe-dark:after {
  background-color: {{ dark_color }};
  color: {{ dark_color }};
}
.pe-light:before,
.pe-light:after {
  background-color: {{ light_color }};
  color: {{ light_color }};
}
.pe-dark-gray:before,
.pe-dark-gray:after {
  background-color: {{ dark_gray_color }};
  color: {{ dark_gray_color }};
}
.pe-light-gray:before,
.pe-light-gray:after{
  background-color: {{ light_gray_color }};
  color: {{ light_gray_color }};
}

/* Margins */
.margin-top-1 {
  margin-top: 1rem;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-top-3 {
  margin-top: 3rem;
}
.margin-top-4 {
  margin-top: 4rem;
}
.margin-top-5 {
  margin-top: 5rem;
}
.margin-top-6 {
  margin-top: 6rem;
}
.margin-top-8 {
  margin-top: 8rem;
}
.margin-top-10 {
  margin-top: 10rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}
.margin-bottom-3 {
  margin-bottom: 3rem;
}
.margin-bottom-4 {
  margin-bottom: 4rem;
}
.margin-bottom-5 {
  margin-bottom: 5rem;
}
.margin-bottom-6 {
  margin-bottom: 6rem;
}
.margin-bottom-8 {
  margin-bottom: 8rem;
}
.margin-bottom-10 {
  margin-bottom: 10rem;
}

/* Responsiveness - MD */
@media (max-width: 991px) {
  /* Flex Basis - Width in 12 col grid */
  .md-flex-basis-1 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
  }
  .md-flex-basis-2 {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
  }
  .md-flex-basis-3 {
    -ms-flex-preferred-size: 33.33%;
    flex-basis: 33.33%;
  }
  .md-flex-basis-4 {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
  }
  .md-flex-basis-5 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;
  }
  .md-flex-basis-6 {
    -ms-flex-preferred-size: 16.66%;
    flex-basis: 16.66%;
  }
  .md-flex-basis-7 {
    -ms-flex-preferred-size: 14.28%;
    flex-basis: 14.28%;
  }
  .md-flex-basis-8 {
    -ms-flex-preferred-size: 12.5%;
    flex-basis: 12.5%;
  }
  .md-flex-basis-9 {
    -ms-flex-preferred-size: 11.11%;
    flex-basis: 11.11%;
  }
  .md-flex-basis-10 {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
  }
  .md-flex-basis-11 {
    -ms-flex-preferred-size: 9.09%;
    flex-basis: 9.09%;
  }
  .md-flex-basis-12 {
    -ms-flex-preferred-size: 8.33%;
    flex-basis: 8.33%;
  }
}

/* Responsiveness - SM */
@media (max-width: 767px) {
  /* Text Alignment */
  .sm-text-left {
    text-align: left;
  }
  .sm-text-center {
    text-align: center;
  }
  .sm-text-right {
    text-align: right;
  }
}