{% set macros = true %}

{#
Creation of an rgba value that maps from a color field

Usage:

* Inside CSS block for an element, call macro using the base name for the color field in your fields.json file
* The macro checks to see if opacity has a set value and uses '1' as a fallback should the parameter be hidden or unset.

Example:

.my-selector {
  color: {{ color('theme.color_field_name') }}
}

#}

{% macro color(value) %}

  {% set colorhex = value.color|convert_rgb %}
  {% if value.opacity != null %}
    {% set coloropacity = value.opacity / 100 %}
  {% else %}
    {% set coloropacity = '1' %}
  {% endif %}

  rgba({{ colorhex }}, {{ coloropacity }})

{% endmacro %}


{#
Transition Animation

Usage:
* Set transition animation polyfill
* If value is not added apply the default transition animation
#}

{% macro transition(transition_animation) %}
  {% if transition_animation == null %}
    {% set transition_animation = "all .3s ease-in-out"%} {# Default Animation #}
  {% endif %}
  -webkit-transition: {{ transition_animation }};
  -moz-transition: {{ transition_animation }};
  -o-transition: {{ transition_animation }};
  transition: {{ transition_animation }};
{% endmacro %}
