{% import './_macros.css' %}

.popup-enabled,
.popup-enabled label {
  cursor: pointer;
}

/* Popup */
.mfp-container {
  padding-left: 20px;
  padding-right: 20px;
}
img.mfp-img {
  padding: 2rem 0;
  cursor: auto;
}
.popup {
	position: relative;
	max-width: 720px;
  margin: 2rem auto;
  outline: none;
  {{ transition() }}
}
.mfp-close {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  opacity: 1;
  background-color: rgba(255, 255, 255, .5);
  padding: .5rem;
  width: 2.25rem !important;
  height: 2.25rem;
  right: 0 !important;
}
.mfp-close:active {
  top: 0;
}
.mfp-close svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: {{ body_color }};
}
.mfp-close > * {
  pointer-events: none
}
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  top: 2rem;
}
.popup-image img {
	display: block;
	width: 100%;
}
.popup-body {
	padding: 1.5rem;
}
.popup-body > *:not(:first-child) {
  margin-top: 1.25rem;
}
.popup-body .subheading + .popup-heading {
  margin-top: 0;
}
.popup-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: -.5rem;
}
.popup-buttons > span {
  padding: .5rem;
}
.popup form {
  background: transparent;
  padding: 0;
}
.popup-open .body-wrapper {
  filter: blur(1px);
}

@media (min-width: 480px) {
  .popup-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

/* Zoom Animation */
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  /* ideally, transition speed should match zoom duration */
  {{ transition() }}
}
.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
.mfp-with-zoom.mfp-ready .popup {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.mfp-with-zoom.mfp-removing .popup {
  -webkit-transform: scale(.75);
  -ms-transform: scale(.75);
  transform: scale(.75);
}

/* Next & Previous Buttons */
.mfp-arrow {
	width: 2rem;
  height: 2rem;
  z-index: 1046;
  opacity: 1;
  margin-top: 0;
  cursor: pointer;
  {{ transition() }}
}
.mfp-arrow:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 1.25rem;
	background: {{ primary_color }};
	color: {{ light_color }};
	width: 2rem;
	height: 2rem;
  border-radius: {{ button_border_radius ~ 'px' }};
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 1;
  border: none;
  margin: 0;
  {{ transition() }}
}
.mfp-arrow:hover:before {
	background: {{ dark_color }};
	color: {{ light_color }};
}
.mfp-arrow:active {
  margin-top: 0;
}
.mfp-arrow-left {
	left: 1.75rem;
}
.mfp-arrow-right {
	right: 1.75rem;
}
.mfp-arrow-left:before {
	content: '\f053';
}
.mfp-arrow-right:before {
	content: '\f054';
}
.mfp-arrow:after {
  content: none;
}