{% import './_macros.css' %}

/* Slick Slider */
.slick-track {
  display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.slick-slide {
  height: inherit;
}

/* Next & Previous Buttons */
.slick-next,
.slick-prev {
	width: 2.25rem;
  height: 2.25rem;
  z-index: 2;
  {{ transition() }}
}
.slick-slider .slick-arrow:before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 1.5rem;
	background: {{ dark_color }};
	color: {{ light_color }};
	width: 2.25rem;
	height: 2.25rem;
  border-radius: {{ button_border_radius ~ 'px' }};
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	opacity: 1;
  {{ transition() }}
}
.slick-slider .slick-arrow:hover:before {
	background: {{ primary_color }};
	color: {{ light_color }};
}
.slick-slider .slick-arrow.slick-prev {
	left: -2rem;
}
.slick-slider .slick-arrow.slick-next {
	right: -2rem;
}
.slick-slider .slick-arrow.slick-prev:before {
	content: '\f104';
}
.slick-slider .slick-arrow.slick-next:before {
	content: '\f105';
}