table {
  border-collapse: collapse;
  overflow-wrap: break-word;
  margin: 0 0 1.25rem;
  border: {{ table_border_width ~ 'px solid ' ~ table_border_color }};
}
th,
td {
  vertical-align: top;
  padding: 0.75rem;
  border: 1px solid {{ table_border_color }};
  background-color: {{ table_body_background_color_odd }};
  color: {{ table_body_text_color }};
}
tbody tr:nth-child(even) th,
tbody tr:nth-child(even) td {
  background-color: {{ table_body_background_color_even }};
}
thead th,
thead td {
  vertical-align: bottom;
  border-bottom: {{ table_border_width / 2 ~ 'px solid ' ~ table_border_color }};
  background-color: {{ table_header_background_color }};
  color: {{ table_header_text_color }};
}
tfoot th,
tfoot td {
  border-top: {{ table_border_width / 2 ~ 'px solid ' ~ table_border_color }};
  background-color: {{ table_footer_background_color }};
  color: {{ table_footer_text_color }};
}