/* Colors */
{% set body_color             = theme.typography.body_text.color  %}
{% set primary_color          = theme.colors.primary_color.color  %}
{% set secondary_color        = theme.colors.secondary_color.color %}
{% set link_color             = theme.colors.link_color.color %}
{% set link_hover_focus_color = theme.colors.link_hover_focus_color.color %}
{% set light_color            = theme.colors.light_color.color %}
{% set dark_color             = theme.colors.dark_color.color %}
{% set light_gray_color       = theme.colors.light_gray_color.color %}
{% set dark_gray_color        = theme.colors.dark_gray_color.color %}

/* Typography */
{% set body_font = theme.typography.body_text %}
{% set h1_font   = theme.typography.heading_one %}
{% set h2_font   = theme.typography.heading_two %}
{% set h3_font   = theme.typography.heading_three %}
{% set h4_font   = theme.typography.heading_four %}
{% set h5_font   = theme.typography.heading_five %}
{% set h6_font   = theme.typography.heading_six %}

/* Button */
{% set button_font                = theme.buttons.button_font %}
{% set button_uppercase           = theme.buttons.uppercase %}
{% set button_border_width        = theme.buttons.border_width %}
{% set button_border_radius       = theme.buttons.border_radius %}
{% set button_horizontal_padding  = theme.buttons.horizontal_padding %}
{% set button_vertical_padding    = theme.buttons.vertical_padding %}
{% set button_letter_spacing      = theme.buttons.letter_spacing %}

/* Form */
{% set form_header_background_color        = theme.forms.header_background_color.color %}
{% set form_header_text_color              = theme.forms.header_text_color.color %}
{% set form_background_color               = theme.forms.form_background_color.color %}
{% set form_border_color                   = theme.forms.form_border_color.color %}
{% set form_label_color                    = theme.forms.label_color.color %}
{% set form_field_background_color         = theme.forms.field_background_color.color %}
{% set form_field_text_color               = theme.forms.field_text_color.color %}
{% set form_field_border_color             = theme.forms.field_border_color.color %}
{% set form_field_focus_border_color       = theme.forms.field_focus_border_color.color %}
{% set form_button_background_color        = theme.forms.form_button_background_color.color %}
{% set form_button_text_color              = theme.forms.form_button_text_color.color %}
{% set form_button_background_color_hover  = theme.forms.form_button_background_color_hover .color %}
{% set form_button_text_color_hover        = theme.forms.form_button_text_color_hover .color %}

/* Other */
{% set card_border_radius = theme.other.card_border_radius %}

/* Tables */
{% set table_header_background_color    = 'rgba(' ~ theme.tables.header_background_color.color|convert_rgb ~ ',' ~ theme.tables.header_background_color.opacity / 100 ~ ')' %}
{% set table_header_text_color          = theme.tables.header_text_color.color %}
{% set table_body_background_color_odd  = 'rgba(' ~ theme.tables.body_background_color_odd_rows.color|convert_rgb ~ ',' ~ theme.tables.body_background_color_odd_rows.opacity / 100 ~ ')' %}
{% set table_body_background_color_even = 'rgba(' ~ theme.tables.body_background_color_even_rows.color|convert_rgb ~ ',' ~ theme.tables.body_background_color_even_rows.opacity / 100 ~ ')' %}
{% set table_body_text_color            = theme.tables.body_text_color.color %}
{% set table_footer_background_color    = 'rgba(' ~ theme.tables.footer_background_color.color|convert_rgb ~ ',' ~ theme.tables.footer_background_color.opacity / 100 ~ ')' %}
{% set table_footer_text_color          = theme.tables.footer_text_color.color %}
{% set table_border_color               = theme.tables.border_color.color %}
{% set table_border_style               = theme.tables.border_style %}
{% set table_border_width               = theme.tables.border_width %}

/* Spacing */
{% set vertical_spacing = theme.spacing.vertical_spacing %}
{% set max_width        = theme.spacing.max_width %}

:root {
  --header-height: 113px; /* For a smooth animations on page load, manualy set this variable to be the height of the full site header. 
                              * It will be automatically set to the actual header height on page load and resize.*/
}

@media (max-width: 991px) {
  :root {
    --header-height: 133px; /* For a smooth animations on page load, manualy set this variable to be the height of the full site header, at this screen width.
                                * It will be automatically set to the actual header height on page load and resize.*/
  }
}