.counter {
  padding: 1rem;
}
.counter-icon svg {
  height: 80px;
}
.counter-number {
  font-size: 2.25rem;
  line-height: 1;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}
.counter-number-inner {
  font-size: 3rem;
  margin: 0 .375rem;
}