<div id="{{ module.custom_id }}" class="counter text-{{ module.alignment }} counter_{{ name }} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
    data-aos-id="counter_{{ name }}"
  {% endif %}
>
  {% if module.icon.unicode %}
    <div class="counter-icon color-{{ module.icon_color }}">
      {% icon name="{{ module.icon.name }}" style="{{ module.icon.type }}" unicode="{{ module.icon.unicode }}" icon_set="{{ module.icon.icon_set }}", no_wrapper=true %}
    </div>
  {% endif %}
  {% if module.top_text %}
    <span class="color-{{ module.text_color }}">{{ module.top_text }}</span>
  {% endif %}
  <div class="counter-number color-{{ module.number_color }} justify-{{ module.alignment }}">
    {% if module.prefix %}
      <span>{{ module.prefix }}</span>
    {% endif %}
    <span class="counter-number-inner" data-count="{{ module.number }}">0</span>
    {% if module.suffix %}
      <span>{{ module.suffix }}</span>
    {% endif %}
  </div>
  {% if module.bottom_text %}
    <span class="color-{{ module.text_color }}">{{ module.bottom_text }}</span>
  {% endif %}
</div>

{% require_js %}
  <script>
    /*document.addEventListener('aos:in:counter_{{ name }}', ({ detail }) => {
      console.log('animated in', detail);
      numberCounter(".counter_{{ name }}");
    });*/
    var counterLoadedOnce_{{ name|regex_replace('-', '_') }} = false;
    $(window).on('scroll', function() {
      if ( isScrolledIntoView('.counter_{{ name }}') && !counterLoadedOnce_{{ name|regex_replace('-', '_') }} ) {
        numberCounter('.counter_{{ name }}');
        counterLoadedOnce_{{ name|regex_replace('-', '_') }} = true;
      }
    });
  </script>
{% end_require_js %}