<div id="{{ module.custom_id }}" class="cards {{ module.custom_class }} {% if module.layout == "slider" %}slider-enabled{% endif %} testimonials_{{ name }}"
  {% if module.layout == 'slider' %}
		data-slider-items="{{ module.items_in_row }}" 
		data-slider-arrows="{% if module.slider_options.arrows %}true{% else %}false{% endif %}"
		data-slider-dots="{% if module.slider_options.dots %}true{% else %}false{% endif %}"

    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  {% endif %}
>
  {% for item in module.testimonials %}
    <div class="cards-single flex-basis-{{ module.items_in_row }}"
      {% unless module.layout == "slider" %}
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          data-aos-delay="{{ ( ( loop.index0 % module.items_in_row ) * module.animation_settings.animation_delay ) + module.animation_settings.animation_delay }}"
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}
      {% endunless %}   
    >
      <div class="cards-single-inner bg-{{ module.background_color }}">
        <div class="card-body text-{{ module.alignment }} color-{{ module.text_color }}">
          {% if item.author_image.src and module.image_position is string_containing "top" %}
            <div class="testimonial-image testimonial-image--{{ module.image_position }}" style="background-image:url('{{ item.author_image.src }}');"></div>
          {% endif %}
          <p class="testimonial-quote">"{{ item.quote }}"</p>
          {% if item.author %}
            <p class="testimonial-name">{{ item.author }}</p>
          {% endif %}
          {% if item.title %}
            <p class="testimonial-title">{{ item.title }}</p>
          {% endif %}
          {% if item.author_image.src and module.image_position is string_containing "bottom" %}
            <div class="testimonial-image testimonial-image--{{ module.image_position }}" style="background-image:url('{{ item.author_image.src }}');"></div>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% unless module.layout == "slider" %}
  {% require_css %}  
  <style>
    @media (max-width: 767px) {
      .testimonials_{{ name }} .testimonials-single {
        transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .testimonials_{{ name }} .testimonials-single:nth-child(odd) {
        transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
      }
      .testimonials_{{ name }} .testimonials-single:nth-child(even) {
        transition-delay: {{ module.animation_settings.animation_delay + 300 ~ "ms" }} !important;
      }
    }
  </style>
  {% end_require_css %}
{% endunless %}