.testimonial-quote {
  margin-bottom: 1.5rem;
}
.testimonial-name {
  margin-bottom: 0;
	font-weight: bold;
}
.testimonial-title {
	margin-bottom: 0;
}
.testimonial-image {
	display: block;
	width: 4.5rem;
	height: 4.5rem;
	margin: 1.5rem auto 0;
	border-radius: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.testimonial-image--top-left,
.testimonial-image--top-center,
.testimonial-image--top-right {
  margin: 0 auto 1.5rem;
}
.testimonial-image--top-left,
.testimonial-image--bottom-left {
  margin-left: 0;
}
.testimonial-image--top-right,
.testimonial-image--bottom-right {
  margin-right: 0;
}