.timeline-inner {
  padding-left: 0;
  position: relative;
}
.timeline-inner:before {
  content: "";
  position: absolute;
  left: calc(50% - 1px);;
  top: .5rem;
  width: 3px;
  height: calc(100% + .75rem);
  z-index: 1;
}
.timeline-single {
  display: flex;
  position: relative;
  margin-bottom: 1.25rem;
}
.timeline-single:before {
  content: "";
  position: absolute;
  top: .5rem;
  left: 50%;
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  z-index: 3;
  transform: translateX(-50%);
}
.timeline-image {
  flex: 0 0 50%;
  padding-right: 2rem;
}
.timeline-image img {
  display: block;
}
.timeline-text {
  flex: 0 0 50%;
  padding-left: 2rem;
}
.timeline-single:nth-child(even) .timeline-text {
  order: 2;
  padding-left: 0;
  padding-right: 2rem;
}
.timeline-single:nth-child(even) .timeline-image {
  order: 3;
  padding-right: 0;
  padding-left: 2rem;
}

@media(max-width: 767px){
  .timeline {
    padding-left: .5rem;
  }
  .timeline-inner:before {
    left: 0;
  }
  .timeline-single {
    flex-direction: column;
  }
  .timeline-single:before {
    left: 1.5px;
  }
  .timeline-image {
    flex: 0 0 100%;
    order: 2 !important;
    padding: 0 0 0 1.5rem !important;
  }
  .timeline-text {
    flex: 0 0 100%;
    order: 3 !important;
    padding: .75rem 0 0 1.5rem !important;
  }
}
