<div id="{{ module.custom_id }}" class="timeline {{ module.custom_class }}">
  <ul class="timeline-inner {{ module.custom_class }} pe-{{ module.line_color }}">
    {% for item in module.timeline_blocks %}
      <li class="timeline-single pe-{{ module.bullet_color }}">
        <div class="timeline-image"
          {% if module.enable_animation %}
            {% if module.animation_settings.animation_type == "default" %}
              data-aos="{{ theme.animations.animation_type }}"
            {% else %}
              data-aos="{{ module.animation_settings.animation_type }}"
            {% endif %}
            data-aos-delay="{{ module.animation_settings.animation_delay * 2 }}"
            {% if module.animation_settings.override_default_animation_duration %}
              data-aos-duration="{{ module.animation_settings.animation_duration }}"
            {% endif %}
          {% endif %}
        >
          {% if item.image.src %}
            {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
            {% if item.image.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
            {% elif item.image.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
            {% endif %}
            {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
            <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        </div>
        <div class="timeline-text text-{{ item.text.alignment }}{% if item.text.text_color != "default"  %} color-{{ item.text.text_color }}{% endif %}"
          {% if module.enable_animation %}
            {% if module.animation_settings.animation_type == "default" %}
              data-aos="{{ theme.animations.animation_type }}"
            {% else %}
              data-aos="{{ module.animation_settings.animation_type }}"
            {% endif %}
            data-aos-delay="{{ module.animation_settings.animation_delay }}"
            {% if module.animation_settings.override_default_animation_duration %}
              data-aos-duration="{{ module.animation_settings.animation_duration }}"
            {% endif %}
          {% endif %}   
        >
          {% if item.text.subheading %}
            <label class="subheading">{{ item.text.subheading }}</label>
          {% endif %}
          {% if item.text.heading %}
            <{{ item.text.heading_size }} class="{% if item.text.text_color != "default" %} color-{{ item.text.text_color }}{% endif %}{% if item.text.heading_underline != "none" %} heading-underline--{{ item.text.heading_underline }} pe-{{ item.text.heading_underline_color }}{% endif %}">
              {{ item.text.heading }}
            </{{ item.text.heading_size }}>{% endif %}
          {% if item.text.main_text %}<div>{{ item.text.main_text }}</div>{% endif %}
        </div>
      </li>        
    {% endfor %}
  </ul>
</div>