<!--
  templateType: global_partial
  label: Website Header
-->

{% if header_type != 'none' %}
  <header class="header header-{{ theme.header.header_position }} header-{{ header_type }}">
    {% dnd_area "header_dnd_area", label="Header Section" %}
      {% dnd_section
        full_width=true,
        padding={
          "default" : {
            "bottom" : "0px",
            "left" : "0px",
            "right" : "0px",
            "top" : "0px"
          }
        }
      %}
        {% dnd_module
          path='../../modules/Website Header',
          offset=0,
          width=12
        %}
        {% end_dnd_module %}
      {% end_dnd_section %}
    {% end_dnd_area %}
  </header>
{% endif %}
  
{# Hidden #}
<div class="header-language-switcher-hidden hidden">
  {% if content.translated_content|length || is_listing_view && group.translations %}
	<div class="header-language-switcher">
		<div class="header-language-switcher-label">
      {% module 'language-switcher' path='@hubspot/language_switcher', label='Language switcher', display_mode='localized' %}
			<div class="header-language-switcher-label-current"> {{ locale_name(locale) }}</div>
		</div>
	</div>
	{% endif %}
</div>

<div class="header-search-open hidden">
	{% icon name='search' style='SOLID' unicode='f002', no_wrapper=true %}
</div>
<div class="header-search form-transparent form-bg-transparent">
  <div class="header-search-inner">
    <div class="header-search-close">
      {% icon name='times' style='SOLID' unicode='f00d', no_wrapper=True %}
    </div>
    {% module 'site_search' path='@hubspot/search_input', label='Search', field_label='Search', placeholder='Search' %}
  </div>
</div>
{# Hidden #}
