{# Editor Button #}
<div id="sectionOptions_{{ name }}" class="section-options {% if request.postDict.inpageEditorUI %} section-options-editor-button{% endif %}">
  {% if request.postDict.inpageEditorUI %}
    <span>Section Options</span>
  {% endif %}
</div>

{# Overlay and Linear Gradient #}
{% if module.enable_overlay || module.enable_bottom_linear_gradient || module.enable_top_linear_gradient %}
	<div class="section-overlay section-overlay-{{ name }}"
    {% if module.enable_overlay and module.style.custom_styling.overlay_color.color %}
      style="background-color: rgba({{ module.style.custom_styling.overlay_color.color|convert_rgb }}, {{ module.style.custom_styling.overlay_color.opacity / 100 }});"
    {% endif %}
  >
    {% if module.enable_top_linear_gradient and module.style.custom_styling.top_linear_gradient_color.color %}
      <div class="section-overlay-linear-gradient section-overlay-linear-gradient--top" style="background: linear-gradient(180deg, rgba({{ module.style.custom_styling.top_linear_gradient_color.color|convert_rgb }}, 1) 3px, rgba({{ module.style.custom_styling.top_linear_gradient_color.color|convert_rgb }}, 0) 100px);"></div>
    {% endif %}
    {% if module.enable_bottom_linear_gradient and module.style.custom_styling.bottom_linear_gradient_color %}
      <div class="section-overlay-linear-gradient section-overlay-linear-gradient--bottom" style="background: linear-gradient(0deg, rgba({{ module.style.custom_styling.bottom_linear_gradient_color.color|convert_rgb }}, 1) 3px, rgba({{ module.style.custom_styling.bottom_linear_gradient_color.color|convert_rgb }}, 0) 100px);"></div>
    {% endif %}
  </div>

  {% require_js %}
  <script>
    var sectionOverlay_{{ name|regex_replace('-', '_') }} = $('.section-overlay-{{ name }}');
    sectionOverlay_{{ name|regex_replace('-', '_') }}.closest('.dnd-section').addClass('section-overlay-wrapper');
    sectionOverlay_{{ name|regex_replace('-', '_') }}.closest('.dnd-section').append(sectionOverlay_{{ name|regex_replace('-', '_') }});     
  </script>
  {% end_require_js %}
{% endif %}


{# Fixed Background Class #}
{% if module.background_effects == 'fixed' %}
  {% require_js %}
  <script>
    $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass('bg-fixed');
  </script>
  {% end_require_js %}

{# Parallax Background #}
{% elif module.background_effects == 'parallax' %}
  {% require_js %}
  <script>
    $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass('bg-fixed bg-parallax');
  </script>
  {% end_require_js %}
{% endif %}


{# Reverse Element Order on Mobile #}
{% if module.reverse_element_order_on_mobile %}
  {% require_js %}
  <script>
    $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass('section-reverse-order');
  </script>
  {% end_require_js %}
{% endif %}


{# Hide #}
{% if module.hide %}
  {% require_js %}
  <script>
    $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass('section-hide');
    $('#sectionOptions_{{ name }}').html("<span>Section Options - HIDDEN</span>");
  </script>
  {% end_require_js %}
{% endif %}


{# Custom Class #}
{% if module.custom_class %}
  {% require_js %}
  <script>
    var customClass = '{{ module.custom_class }}';
    $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass(customClass);
  </script>
  {% end_require_js %}
{% endif %}


{# Custom ID #}
{% if module.custom_id %}
  {% require_js %}
  <script>
    var customID = '{{ module.custom_id }}';
    if ( customID ) {
      $('#sectionOptions_{{ name }}').closest('.dnd-section').attr('id', customID);
      $('#sectionOptions_{{ name }}').closest('.dnd-section').addClass('section-options-id');
    }
  </script>
  {% end_require_js %}
{% endif %}