/* Section Options Module */
.section-options-wrapper {
  display: none; /* hide the editor button on the live page */
}
.hs-inline-edit .section-options-wrapper {
  display: block; /* show the editor button in the editor only */
}

/* Editor Button */
.section-options-editor-button {
  background-color: #00a4bd;
  background: repeating-linear-gradient(45deg, #2be3ff, #2be3ff 10px, #aaf4ff 10px, #aaf4ff 20px);
	width: 100%;
	height: 30px;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
  z-index: 5;
}
.section-options-editor-button span {
  color: #000;
  font-size: 14px;
  font-weight: bold;
}

/* Overlay and Linear Gradient */
.section-overlay-wrapper {
	position: relative;
	z-index: 2;
}
.section-overlay-wrapper > .row-fluid {
	position: relative;
	z-index: 3;
}
.section-overlay,
.section-overlay-linear-gradient {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 0;
}

/* Hide */
.section-hide {
  display: none;
}
.hs-inline-edit .section-hide {
  display: block;
}

/* Reverse Element Order on Mobile */
@media (max-width: 767px) {
  .section-reverse-order > .row-fluid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .section-reverse-order .row-fluid [class*="span"]:first-child {
    margin-top: 1.25rem;
  }
  .section-reverse-order .row-fluid [class*="span"]:last-child {
    margin-top: 0;
  }
}