<!--
  templateType: none
-->
<!doctype html>
<html lang="{{ html_lang }}" {{ html_lang_dir }}>
  <head>
    <meta charset="utf-8">
    {% if page_meta.html_title %}<title>{{ page_meta.html_title }}</title>{% endif %}
    {% if site_settings.favicon_src %}<link rel="shortcut icon" href="{{ site_settings.favicon_src }}" />{% endif %}
    <meta name="description" content="{{ page_meta.meta_description }}">
    
    {{ require_css('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css') }}
    {{ require_css('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css') }}
    {{ require_css('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css') }}
    {{ require_css('https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css') }}
    {{ require_css('https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.css') }}
    
    {{ require_css(get_asset_url('../../css/main.css')) }}
    
    {{ standard_header_includes }}
    
    <noscript>
      <style type="text/css">
        [data-aos] {
          opacity: 1 !important;
          transform: translate(0) scale(1) !important;
          pointer-events: auto !important;
        }
      </style>
    </noscript>
  </head>
  
  {% choice 'header_option' label='Header Option', value='Default', choices='Default, Transparent, None', required=True, export_to_template_context=True %}
  {% set header_type = widget_data.header_option.value|lower|replace(' ', '-') %}
	
  {% choice 'footer_option' label='Footer Option', value='Default', choices='Default, Landing', required=True, export_to_template_context=True %}
  {% set footer_type = widget_data.footer_option.value|lower|replace(' ', '-') %}
  
  <body>
    <div class="body-wrapper header-type-{{ header_type }} {{ builtin_body_classes }}">
      {% block header %}
        {% global_partial path='../partials/header.html' %}
      {% endblock header %}

      {% block body %}
      {% endblock body %}
      
      {% block footer %}
        {% global_partial path='../partials/footer.html' %}
      {% endblock footer %}
    </div>

    {% if not site_settings.include_jquery %}
      {{ require_js('https://code.jquery.com/jquery-2.2.4.min.js', 'head' )}}
		{% endif %}
    
    {{ require_js('https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js') }}
    {{ require_js('https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js') }}
    {{ require_js('https://cdnjs.cloudflare.com/ajax/libs/aos/3.0.0-beta.6/aos.js') }}
    
    {{ require_js(get_asset_url('../../js/main.js')) }}
    
    {{ standard_footer_includes }}
  </body>
</html>
