<!--
  templateType: error_page
  isAvailableForNewContent: true
  label: 404 error
  screenshotPath: ../../images/template-previews/404.png
-->

{% extends '../layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper bg-light-gray">
  <section class="content-wrapper">
    <div class="error-page" data-error="404">
      <h1>Page not found.</h1>
      <a class="button button-primary" href="/">Go Home</a>
    </div>
    <div class="systems-page">
      <h3>Search the site:</h3>
      {% module "search" path="@hubspot/search_input", label="search_input.module" %}
    </div>
  </section>
</main>
{% endblock body %}