<!--
  templateType: search_results_page
  isAvailableForNewContent: true
  label: Search results
  screenshotPath: ../../images/template-previews/search-results.png
-->

{% extends '../layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper bg-light-gray">
  <section class="content-wrapper">
    <div class="systems-page systems-page--search-results">
      <h1>Results for "{{ request.query_dict.term|escape }}"</h1>
      {% module 'search_results' path='@hubspot/search_results' %}
    </div>
  </section>
</main>
{% endblock body %}
