<div class="header-inner">
  
  {# Skip to Content #}
  <a href="#main-content" class="header__skip">Skip to content</a>
  
  {# Header Top #}
  <div class="header-top bg-{{ module.style.custom_styling.header_top_background_color_choice }} color-{{ module.top_row.header_top_text_color_choice }}">
    <div class="header-top-container{% if module.top_row.full_width %} full-width{% endif %}">
      {% if module.top_row.layout == "columns" %}
        {% for item in module.top_row.header_top_column %}
          {% if item.text || item.icon.unicode %}
            <div class="header-top-column justify-{{ item.alignment }}">
              {% if item.icon.unicode %}
                {% icon name='{{ item.icon.name }}' style='{{ item.icon.type }}' unicode='{{ item.icon.unicode }}' icon_set='{{ item.icon.icon_set }}', no_wrapper=true %}
              {% endif %}
              {% if item.text %}
                {% if item.link.url.href %}
                  {% if item.link.url.type is equalto 'EMAIL_ADDRESS' %}
                    {% set href = 'mailto:' ~ item.link.url.href %}
                  {% elif item.link.url.href == '/' %}
                    {% set href = item.link.url.href %}
                  {% else %}
                    {% unless (item.link.url.href is string_containing '//') or (item.link.url.href is string_containing 'tel:') or !item.link.url.href %}
                      {% set href = '//' ~ item.link.url.href %}
                    {% else %}
                      {% set href = item.link.url.href || '' %}
                    {% endunless %}
                  {% endif %}

                  {% set rel = (item.link.open_in_new_tab ? 'noopener ' : null) ~ (module.link.no_follow ? 'nofollow' : null) %}
                  <a
                    href="{{ href }}"
                    {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                    {% if rel %}rel="{{ rel }}"{% endif %}
                  >
                {% endif %}
                    {{ item.text }}
                {% if item.link.url.href %}
                  </a>
                {% endif %}
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      {% elif module.top_row.layout == "message" %}
        <div class="header-top-column justify-{{ module.top_row.alignment }}">
          {{ module.top_row.message }}
        </div>
      {% endif %}
    </div>
  </div>

  {# Header main #}
  <div class="header-main bg-{{ module.header_background_color_choice }} color-{{ module.header_text_color_choice }}">
    <div class="header-main-container{% if module.full_width %} full-width{% endif %}{% if module.mobile_menu_on_all_screen_sizes %} menu-mobile-permanent{% endif %}">
      {# Logo #}
      <div class="header-logo">       
        {% if module.logo.logo_link.url.type is equalto 'EMAIL_ADDRESS' %}
          {% set href = 'mailto:' ~ module.logo.logo_link.url.href %}
        {% elif module.logo.logo_link.url.href == '/' %}
          {% set href = module.logo.logo_link.url.href %}
        {% else %}
          {% unless (module.logo.logo_link.url.href is string_containing '//') or (module.logo.logo_link.url.href is string_containing 'tel:') or !module.logo.logo_link.url.href %}
            {% set href = '//' ~ module.logo.logo_link.url.href %}
          {% else %}
            {% set href = module.logo.logo_link.url.href || '' %}
          {% endunless %}
        {% endif %}

        {% set rel = (module.logo.logo_link.open_in_new_tab ? 'noopener ' : null) ~ (module.link.no_follow ? 'nofollow' : null) %}                     
        
        {% if header_type == 'transparent' %}
          <a
            href="{{ href }}"
            {% if module.logo.logo_link.open_in_new_tab %}target="_blank"{% endif %}
            {% if rel %}rel="{{ rel }}"{% endif %}
            class="header-logo-light"
          >
            {% if module.logo.logo_light.src %}
              {% set sizeAttrs = 'width="{{ module.logo.logo_light.width }}" height="{{ module.logo.logo_light.height }}"' %}
              {% if module.logo.logo_light.size_type == 'auto' %}
                {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
              {% elif module.logo.logo_light.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.logo.logo_light.max_width }}px; max-height: {{ module.logo.logo_light.max_height }}px"' %}
              {% endif %}
              {% set loadingAttr = module.logo.logo_light.loading != 'disabled' ? 'loading="{{ module.logo.logo_light.loading }}"' : '' %}
              <img src="{{ module.logo.logo_light.src }}" alt="{{ module.logo.logo_light.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
            {% endif %}
          </a>
        {% endif %}
        <a
          href="{{ href }}"
          {% if module.logo.logo_link.open_in_new_tab %}target="_blank"{% endif %}
          {% if rel %}rel="{{ rel }}"{% endif %}
          class="header-logo-dark"
        >
          {% if module.logo.logo_dark.src %}
            {% set sizeAttrs = 'width="{{ module.logo.logo_dark.width }}" height="{{ module.logo.logo_dark.height }}"' %}
            {% if module.logo.logo_dark.size_type == 'auto' %}
              {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
            {% elif module.logo.logo_dark.size_type == 'auto_custom_max' %}
              {% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.logo.logo_dark.max_width }}px; max-height: {{ module.logo.logo_dark.max_height }}px"' %}
            {% endif %}
            {% set loadingAttr = module.logo.logo_dark.loading != 'disabled' ? 'loading="{{ module.logo.logo_dark.loading }}"' : '' %}
            <img src="{{ module.logo.logo_dark.src }}" alt="{{ module.logo.logo_dark.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
        </a>
      </div>

      {# Menu #}
      <div class="header-navigation">
        <div class="menu-mobile-button">{% icon name='bars' style='SOLID' unicode='f0c9', no_wrapper=true %}</div>
        {% unless module.mobile_menu_on_all_screen_sizes %}
          <div class="header-menu header-menu-main">
            {% menu id='{{ module.main_menu }}', no_wrapper=True %}
          </div>
        {% endunless %}
        <div class="header-menu header-menu-mobile">
          {% menu id='{{ module.mobile_menu }}', no_wrapper=True %}
        </div>
      </div>
      
      {% if module.header_language_switcher || module.header_search != 'none' %}
        <div class="header-right">
          {# Language Switcher and Search #}
          {% if module.header_language_switcher %}
            <div class="header-language-switcher-wrapper"></div>
          {% endif %}
          {% if module.header_search == 'pop-up' %}
            <div class="header-search-wrapper header-search--pop-up"></div>
          {% elif module.header_search == 'inline' %}
            <div class="header-search-wrapper header-search--inline"></div>
          {% elif module.header_search == 'slide-in' %}
            <div class="header-search-wrapper header-search--inline header-search--slide-in"></div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% require_css %}
	<style>
    {% if module.style.custom_styling.header_top_background_color.color %}
      .header-top {
        background-color: rgba({{ module.style.custom_styling.header_top_background_color.color|convert_rgb }}, {{ module.style.custom_styling.header_top_background_color.opacity / 100 }});
      }
    {% endif %}
    {% if module.style.custom_styling.header_top_text_color.color %}
      .header-top a {
        color: rgba({{ module.style.custom_styling.header_top_text_colo.color|convert_rgb }}, {{ module.style.custom_styling.header_top_text_colo.opacity / 100 }});
      }
      .header-top-container svg  {
        fill: rgba({{ module.style.custom_styling.header_top_text_colo.color|convert_rgb }}, {{ module.style.custom_styling.header_top_text_colo.opacity / 100 }});
      }
    {% endif %}
    {% if module.style.custom_styling.header_background_color.color %}
      .header-main {
        background-color: rgba({{ module.style.custom_styling.header_background_color.color|convert_rgb }}, {{ module.style.custom_styling.header_background_color.opacity / 100 }});
      }
    {% endif %}
    {% if module.style.custom_styling.header_text_color.color %}
      .header-main {
        color: rgba({{ module.style.custom_styling.header_text_color.color|convert_rgb }}, {{ module.style.custom_styling.header_text_color.opacity / 100 }});
      }
      .header-menu-main a {
        color: rgba({{ module.style.custom_styling.header_text_color.color|convert_rgb }}, {{ module.style.custom_styling.header_text_color.opacity / 100 }});
      }
      .menu-mobile-button svg,
      .header-search-open svg,
      .header-search--slide-in .header-search-close svg {
        fill: rgba({{ module.style.custom_styling.header_text_color.color|convert_rgb }}, {{ module.style.custom_styling.header_text_color.opacity / 100 }});
      }
    {% endif %}
	</style>
{% end_require_css %}
