<div id="{{ module.custom_id }}" class="cards {{ module.custom_class }} {% if module.layout == "slider" %}slider-enabled{% endif %} cards_{{ name }}"
  {% if module.layout == 'slider' %}
		data-slider-items="{{ module.items_in_row }}" 
		data-slider-arrows="{% if module.slider_options.arrows %}true{% else %}false{% endif %}"
		data-slider-dots="{% if module.slider_options.dots %}true{% else %}false{% endif %}"
    
    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  {% endif %}
>
  {% for item in module.cards %}
    {% if item.link.url.type is equalto 'EMAIL_ADDRESS' %}
      {% set href = 'mailto:' ~ item.link.url.href %}
    {% elif item.link.url.href == '/' %}
      {% set href = item.link.url.href %}
    {% else %}
      {% unless (item.link.url.href is string_containing '//') or (item.link.url.href is string_containing 'tel:') or !item.link.url.href %}
        {% set href = '//' ~ item.link.url.href %}
      {% else %}
        {% set href = item.link.url.href or '' %}
      {% endunless %}
    {% endif %}
    {% set rel = (item.link.open_in_new_tab ? 'noopener ' : null) ~ (item.link.no_follow ? 'nofollow' : null) %}
  
    <div class="cards-single flex-basis-{{ module.items_in_row }}"
      {% unless module.layout == "slider" %}
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          data-aos-delay="{{ ( ( loop.index0 % module.items_in_row ) * module.animation_settings.animation_delay ) + module.animation_settings.animation_delay }}"
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}
      {% endunless %}
    >
      
      {# Classic Card #}
      {% if module.variation == "var_1" %}
        <div class="cards-single-inner bg-{{ item.background_color }}{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %}">
          {% if module.whole_card_link and item.link.url.href %}
            <a
              href="{{ href }}"
              {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
              {% if rel %}rel="{{ rel }}"{% endif %}
            >
          {% endif %}
            {% if item.image.src %}
              {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
              {% if item.image.size_type == 'auto' %}
                {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
              {% elif item.image.size_type == 'auto_custom_max' %}
                {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; max-height: auto;"' %}
              {% endif %}
              {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
              <div class="card-image">
                <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              </div>
            {% endif %}

            <div class="card-body text-{{ item.alignment }}">
              {% if item.subheading %}
                <label class="subheading color-{{ item.text_color }}">{{ item.subheading }}</label>
              {% endif %}
              {% if item.heading %}
                <{{ item.heading_size }} class="card-heading color-{{ item.text_color }}">{{ item.heading }}</{{ item.heading_size }}>
              {% endif %}
              {% if item.main_text %}
                <div class="card-text color-{{ item.text_color }}">{{ item.main_text }}</div>
              {% endif %}
              {% if !module.whole_card_link and item.enable_social_links and item.social_links %}
                <div class="social-links justify-{{ item.alignment }}">
                  {% for item2 in item.social_links %}
                    {% set href = item2.social_link.url.href %}
                    {% if item2.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                      {% set href = "mailto:" + href %}
                    {% endif %}

                    {% set rel = (item2.social_link.open_in_new_tab ? 'noopener ' : null) ~ (item2.social_link.no_follow ? 'nofollow' : null) %}

                    {% if item2.social_account != 'custom_icon' %}
                      {% set social_icon = item2.social_account %}
                    {% else %}
                      {% set social_icon = item2.custom_icon.name %}
                    {% endif %}

                    <a class="social-links-single bg-{{ item2.background_color }} color-{{ item2.icon_color }}" href="{{ href }}"
                      {% if item2.social_link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if rel %}rel="{{ rel }}"{% endif %}
                    >
                      {% icon
                        name='{{ social_icon }}',
                        purpose='semantic',
                        style='SOLID',
                        title='{{ item2.hover_title }}',
                        unique_in_loop=True,
                        no_wrapper=True
                      %}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            {% if !module.whole_card_link and item.button_text and item.link.url.href %}
              <div class="card-button text-{{ item.alignment }}">
                <a
                  class="{% unless item.button_type == 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% endif %}{{ item.button_color }}{% endunless%}"
                  href="{{ href }}"
                  {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel }}"{% endif %}
                >
                  {{ item.button_text }}
                </a>
              </div>
            {% endif %}
          {% if module.whole_card_link and item.link.url.href %}
            </a>
          {% endif %}
        </div>
      {# End Classic Card #}
  
      {# Classic Card (Icon) #}
      {% elif module.variation == "var_2" %}
        <div class="cards-single-inner bg-{{ item.background_color }}{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %}">
          {% if module.whole_card_link and item.link.url.href %}
            <a
              href="{{ href }}"
              {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
              {% if rel %}rel="{{ rel }}"{% endif %}
            >
          {% endif %}
            <div class="card-icon color-{{ item.icon_color }}" style="height: {{ item.icon_height }}px; max-height: {{ item.icon_height }}px">
              {% icon name='{{ item.icon.name }}' style='{{ item.icon.type }}' unicode='{{ item.icon.unicode }}' icon_set='{{ item.icon.icon_set }}', no_wrapper=true %}
            </div>

            <div class="card-body text-{{ item.alignment }}">
              {% if item.subheading %}
                <label class="subheading color-{{ item.text_color }}">{{ item.subheading }}</label>
              {% endif %}
              {% if item.heading %}
                <{{ item.heading_size }} class="card-heading color-{{ item.text_color }}">{{ item.heading }}</{{ item.heading_size }}>
              {% endif %}
              {% if item.main_text %}
                <div class="card-text color-{{ item.text_color }}">{{ item.main_text }}</div>
              {% endif %}
              {% if !module.whole_card_link and item.enable_social_links and item.social_links %}
                <div class="social-links justify-{{ item.alignment }}">
                  {% for item2 in item.social_links %}
                    {% set href = item2.social_link.url.href %}
                    {% if item2.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                      {% set href = "mailto:" + href %}
                    {% endif %}

                    {% set rel = (item2.social_link.open_in_new_tab ? 'noopener ' : null) ~ (item2.social_link.no_follow ? 'nofollow' : null) %}

                    {% if item2.social_account != 'custom_icon' %}
                      {% set social_icon = item2.social_account %}
                    {% else %}
                      {% set social_icon = item2.custom_icon.name %}
                    {% endif %}

                    <a class="social-links-single bg-{{ item2.background_color }} color-{{ item2.icon_color }}" href="{{ href }}"
                      {% if item2.social_link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if rel %}rel="{{ rel }}"{% endif %}
                    >
                      {% icon
                        name='{{ social_icon }}',
                        style='SOLID',
                        title='{{ social_icon }}',
                        unique_in_loop=True,
                        no_wrapper=True
                      %}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            {% if !module.whole_card_link and item.button_text and item.link.url.href %}
              <div class="card-button text-{{ item.alignment }}">
                <a
                  class="{% unless item.button_type == 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% endif %}{{ item.button_color }}{% endunless%}"
                  href="{{ href }}"
                  {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel }}"{% endif %}
                >
                  {{ item.button_text }}
                </a>
              </div>
            {% endif %}
          {% if module.whole_card_link and item.link.url.href %}
            </a>
          {% endif %}
        </div>
      {# End Classic Card (Icon) #}
          
      {# Image with Overlay and Title #}
      {% elif module.variation == "var_3" %}
        <div class="cards-single-inner{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %} cards-single-inner_{{ loop.index }}">
          <div class="card-image-wrapper">
            {% if item.link.url.href %}
              <a
                href="{{ href }}"
                {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                {% if rel %}rel="{{ rel }}"{% endif %}
              >
            {% endif %}
              <div class="card-image-bg" style="background-image: url('{{ item.image.src }}');">
                <div class="card-overlay bg-{{ item.overlay_color_choice }}"></div>
                <div class="card-overlay-content">
                  <div class="card-body text-{{ item.alignment }}">
                    {% if item.subheading %}
                      <label class="subheading color-{{ item.overlay_text_color }}">{{ item.subheading }}</label>
                    {% endif %}
                    {% if item.heading %}
                      <{{ item.heading_size }} class="card-heading color-{{ item.overlay_text_color }}">{{ item.heading }}</{{ item.heading_size }}>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% if item.link.url.href %}
              </a>
            {% endif %}
          </div>
        </div>
      {# End Image with Overlay and Title #}

      {# End Image with Overlay and Title (Slide-in Content) #}
      {% elif module.variation == "var_4" %}
        <div class="cards-single-inner{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %} cards-single-inner_{{ loop.index }}">
          <div class="card-image-wrapper">
            {% if item.link.url.href %}
              <a
                href="{{ href }}"
                {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
                {% if rel %}rel="{{ rel }}"{% endif %}
              >
            {% endif %}
              <div class="card-image-bg" style="background-image: url('{{ item.image.src }}');">
                <div class="card-overlay bg-{{ item.overlay_color_choice }}"></div>
                <div class="card-overlay-content">
                  <div class="card-body text-{{ item.alignment }}">
                    {% if item.subheading %}
                      <label class="subheading color-{{ item.overlay_text_color }}">{{ item.subheading }}</label>
                    {% endif %}
                    {% if item.heading %}
                      <{{ item.heading_size }} class="card-heading color-{{ item.overlay_text_color }}">{{ item.heading }}</{{ item.heading_size }}>
                    {% endif %}
                  </div>
                </div>
              </div>
              <div class="card-content bg-{{ item.background_color }}">
                <div class="card-body text-{{ item.alignment }}">
                  {% if item.subheading %}
                    <label class="subheading color-{{ item.text_color }}">{{ item.subheading }}</label>
                  {% endif %}
                  {% if item.heading %}
                    <{{ item.heading_size }} class="card-heading color-{{ item.text_color }}">{{ item.heading }}</{{ item.heading_size }}>
                  {% endif %}
                  {% if item.main_text %}
                    <div class="card-text color-{{ item.text_color }}">{{ item.main_text }}</div>
                  {% endif %}
                </div>
                {% if item.button_text and item.link.url.href %}
                  <div class="card-button text-{{ item.alignment }}">
                    <span class="{% unless item.button_type == 'link' %}button button-{% if item.button_type == 'outline' %}outline-{% endif %}{{ item.button_color }}{% endunless%}">
                      {{ item.button_text }}
                    </span>
                  </div>
                {% endif %}
              </div>
            {% if item.link.url.href %}
              </a>
            {% endif %}
          </div>
        </div>
      {# End Image with Slide-in Content #}

      {# Image with Overlay and Title (Popup Content) #}
      {% elif module.variation == "var_5" %}
        <div class="cards-single-inner{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %} cards-single-inner_{{ loop.index }}">
          <div class="card-image-wrapper">
            {% if item.link.url.href %}
              <a href="#popup_{{ name }}_{{ loop.index }}" class="popup-enabled">
            {% endif %}
              <div class="card-image-bg" style="background-image: url('{{ item.image.src }}');">
                <div class="card-overlay bg-{{ item.overlay_color_choice }}"></div>
                <div class="card-overlay-content">
                  <div class="card-body text-{{ item.alignment }}">
                    {% if item.subheading %}
                      <label class="subheading color-{{ item.overlay_text_color }}">{{ item.subheading }}</label>
                    {% endif %}
                    {% if item.heading %}
                      <{{ item.heading_size }} class="card-heading color-{{ item.overlay_text_color }}">{{ item.heading }}</{{ item.heading_size }}>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% if item.link.url.href %}
              </a>
            {% endif %}
          </div>
        </div>

        <div id="popup_{{ name }}_{{ loop.index }}" class="popup mfp-hide">
          <div class="popup-inner bg-{{ item.background_color }}">
            <div class="popup-body text-{{ item.alignment }}">
              {% if item.subheading %}
                <label class="subheading color-{{ item.text_color }}">{{ item.subheading }}</label>
              {% endif %}
              {% if item.heading %}
                <{{ item.heading_size }} class="popup-heading color-{{ item.text_color }}">{{ item.heading }}</{{ item.heading_size }}>
              {% endif %}
              {% if item.main_text %}
                <div class="popup-text color-{{ item.text_color }}">{{ item.main_text }}</div>
              {% endif %}
              {% if item.enable_social_links and item.social_links %}
                <div class="social-links justify-{{ item.alignment }}">
                  {% for item2 in item.social_links %}
                    {% set href = item2.social_link.url.href %}
                    {% if item2.social_link.url.type is equalto "EMAIL_ADDRESS" %}
                      {% set href = "mailto:" + href %}
                    {% endif %}

                    {% set rel = (item2.social_link.open_in_new_tab ? 'noopener ' : null) ~ (item2.social_link.no_follow ? 'nofollow' : null) %}

                    {% if item2.social_account != 'custom_icon' %}
                      {% set social_icon = item2.social_account %}
                    {% else %}
                      {% set social_icon = item2.custom_icon.name %}
                    {% endif %}

                    <a class="social-links-single bg-{{ item2.background_color }} color-{{ item2.icon_color }}" href="{{ href }}"
                      {% if item2.social_link.open_in_new_tab %}target="_blank"{% endif %}
                      {% if rel %}rel="{{ rel }}"{% endif %}
                    >
                      {% icon
                        name='{{ social_icon }}',
                        purpose='semantic',
                        style='SOLID',
                        title='{{ item2.hover_title }}',
                        unique_in_loop=True,
                        no_wrapper=True
                      %}
                    </a>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {# End Image with Overlay and Title (Popup Content) #}
      {% endif %}
      
    </div>
  {% endfor %}
</div>

{% require_css %}
  <style>
    .cards_{{ name }} .card-image-wrapper,
    .cards_{{ name }} .card-image-bg {
      padding-bottom: {{ module.image_height / module.image_width * 100 ~ '%' }};
    }
    
    {% unless module.layout == "slider" %}
      @media (max-width: 767px) {
        .cards_{{ name }} .cards-single {
          transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
        }
      }
      @media (min-width: 768px) and (max-width: 991px) {
        .cards_{{ name }} .cards-single:nth-child(odd) {
          transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
        }
        .cards_{{ name }} .cards-single:nth-child(even) {
          transition-delay: {{ module.animation_settings.animation_delay + 300 ~ "ms" }} !important;
        }
      }
    {% endunless %}
  </style>
{% end_require_css %}