<div id="{{ module.custom_id }}" class="text-{{ module.alignment }}{% if module.text_color != "default"  %} color-{{ module.text_color }}{% endif %} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}   
>
  {% if module.subheading %}
    <label class="subheading">{{ module.subheading }}</label>
  {% endif %}
  
  {% if module.heading %}
    <{{ module.heading_size }}
      class="{% if module.text_color != "default"  %} color-{{ module.text_color }}{% endif %}{% if module.heading_underline != "none" %} heading-underline--{{ module.heading_underline }} pe-{{ module.heading_underline_color }}{% endif %}">
      <span>{{ module.heading }}</span>
	  </{{ module.heading_size }}>
	{% endif %}

  {% if module.intro_text %}
	  <div class="intro-text">
  	  {{ module.intro_text }}
  	</div>
	{% endif %}
  
	{% if module.main_text %}
	  <div>
	    {{ module.main_text }}
	  </div>
	{% endif %}
</div>
