<div id="{{ module.custom_id }}" class="blog-header text-{{ module.alignment }}{% if module.text_color != "default"  %} color-{{ module.text_color }}{% endif %} {{ module.custom_class }}">
  <div class="blog-header__inner" data-aos="{{ theme.animations.animation_type }}">
    {% if tag %}
      <h1 class="blog-header__title{% if module.text_color != "default"  %} color-{{ module.text_color }}{% endif %}{% if module.heading_accent != "none" %} heading-accent--{{ module.heading_accent }} pe-{{ module.heading_accent_color }}{% endif %}{% if module.enable_heading_shadow %} text-shadow{% endif %}">
        <span>Posts about: {{ page_meta.html_title|split(' | ')|last }}</span>
      </h1>
    {% elif blog_author %}        
      {% if module.sections.enable_author_image and blog_author.avatar %}
        <img class="blog-header__author-avatar" src="{{ blog_author.avatar }}" alt="{{ blog_author.display_name }}" width="200" loading="eager">
      {% endif %}
      <h1 class="blog-header__title{% if module.text_color != "default"  %} color-{{ module.text_color }}{% endif %}{% if module.heading_accent != "none" %} heading-accent--{{ module.heading_accent }} pe-{{ module.heading_accent_color }}{% endif %}{% if module.enable_heading_shadow %} text-shadow{% endif %}">
        <span>{{ blog_author.display_name }}</span>
      </h1>
      {% if module.sections.enable_author_bio and blog_author.bio %}
        <p class="blog-header__subtitle">{{ blog_author.bio }}</p>
      {% endif %}
      {% if module.sections.enable_author_social_links and blog_author.has_social_profiles %}
        <div class="blog-header__author-social-links">
          {% if blog_author.website %}
            <a href="{{ blog_author.website }}" target="_blank" rel="noopener">
              {% icon name='link', purpose='semantic', style='SOLID', title='Follow me on my website', width='10' %}
            </a>
          {% endif %}
          {% if blog_author.facebook %}
            <a href="{{ blog_author.facebook }}" target="_blank" rel="noopener">
              {% icon name='facebook-f', purpose='semantic', style='SOLID', title='Follow me on Facebook', width='10' %}
            </a>
          {% endif %}
          {% if blog_author.linkedin %}
            <a href="{{ blog_author.linkedin }}" target="_blank" rel="noopener">
              {% icon name='linkedin-in', purpose='semantic', style='SOLID', title='Follow me on LinkedIn', width='10' %}
            </a>
          {% endif %}
          {% if blog_author.twitter %}
            <a href="{{ blog_author.twitter }}" target="_blank" rel="noopener">
              {% icon name='twitter', purpose='semantic', style='SOLID', title='Follow me on Twitter', width='10' %}
            </a>
          {% endif %}
        </div>
      {% endif %}
    {% else %}      
      <h1 class="blog-header__title{% if module.text_color != "default"  %} color-{{ module.text_color }}{% endif %}{% if module.heading_underline != "none" %} heading-underline--{{ module.heading_underline }} pe-{{ module.heading_underline_color }}{% endif %}{% if module.enable_heading_shadow %} text-shadow{% endif %}">
        <span>{{ group.public_title }}</span>
      </h1>
      {% if module.sections.enable_blog_description and group.description %}
        <p class="blog-header__subtitle">{{ group.description }}</p>
      {% endif %}
    {% endif %}
  </div>
</div>