{% if module.link.url.type is equalto 'EMAIL_ADDRESS' %}
  {% set href = 'mailto:' ~ module.link.url.href %}
{% elif module.link.url.href == '/' %}
  {% set href = module.link.url.href %}
{% else %}
  {% unless (module.link.url.href is string_containing '//') or !module.link.url.href %}
    {% set href = '//' ~ module.link.url.href %}
  {% else %}
    {% set href = module.link.url.href or '' %}
  {% endunless %}
{% endif %}

{% set rel = (module.link.open_in_new_tab ? 'noopener ' : null) ~ (module.link.no_follow ? 'nofollow' : null) %}

<div id="{{ module.custom_id }}" class="image-default justify-{{ module.alignment }} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>
	{% if module.image.src %}
		{% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
		{% if module.image.size_type == 'auto' %}
			{% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
		{% elif module.image.size_type == 'auto_custom_max' %}
			{% set sizeAttrs = 'width="100%" height="auto" style="max-width: {{ module.image.max_width }}px; max-height: {{ module.image.max_height }}px"' %}
		{% endif %}
    {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
    
    {% if ( module.link_or_lightbox == "link" and module.link.url.href ) or module.link_or_lightbox == "lightbox" %}
      <a
        {% if module.link_or_lightbox == "lightbox" %}class="popup-image-enabled"{% endif %}
        href="{% if module.link_or_lightbox == "lightbox" %}{{ module.image.src }}{% else %}{{ href }}{% endif %}"
        {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
        {% if rel %}rel="{{ rel }}"{% endif %}
      >
    {% endif %}
      <img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
    {% if ( module.link_or_lightbox == "link" and module.link.url.href ) or module.link_or_lightbox == "lightbox" %}
      </a>
    {% endif %}
	{% endif %}
</div>