{% if module.link.url.type is equalto 'EMAIL_ADDRESS' %}
  {% set href = 'mailto:' ~ module.link.url.href %}
{% elif module.link.url.href == '/' %}
  {% set href = module.link.url.href %}
{% else %}
  {% unless (module.link.url.href is string_containing '//') or (module.link.url.href is string_containing 'tel:') or !module.link.url.href %}
    {% set href = '//' ~ module.link.url.href %}
  {% else %}
    {% set href = module.link.url.href or '' %}
  {% endunless %}
{% endif %}

{% set rel = (module.link.open_in_new_tab ? 'noopener ' : null) ~ (module.link.no_follow ? 'nofollow' : null) %}

<div id="{{ module.custom_id }}" class="text-{{ module.alignment }}{% if module.center_on_small_screens %} sm-text-center{% endif %} {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
      data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>
  <a
    class="button button-{% if module.button_type == 'outline' %}outline-{% endif %}{{ module.button_color }}{% if module.enable_popup %} popup-enabled{% endif %}"
    href="{% if module.enable_popup %}#popup_{{ name }}{% else %}{{ href }}{% endif %}"
    {% if module.link.open_in_new_tab %}target="_blank"{% endif %}
    {% if rel %}rel="{{ rel }}"{% endif %}
  >
    {{ module.text }}
  </a>
</div>

{% if module.enable_popup %}
  <div id="popup_{{ name }}" class="popup mfp-hide {{ module.popup.custom_class }}">
    <div class="popup-inner bg-{{ module.popup.background_color }}">
      {% if module.popup.image.src %}
        {% set sizeAttrs = 'width="{{ module.popup.image.width }}" height="{{ module.popup.image.height }}"' %}
        {% if module.popup.image.size_type == 'auto' %}
          {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
        {% elif module.popup.image.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.popup.image.max_width }}" height="{{ module.popup.image.max_height }}" style="max-width: 100%; height: auto;"' %}
        {% endif %}
         {% set loadingAttr = module.popup.image.loading != 'disabled' ? 'loading="{{ module.popup.image.loading }}"' : '' %}
        <div class="popup-image">
          <img src="{{ module.popup.image.src }}" alt="{{ module.popup.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
        </div>
      {% endif %}
      <div class="popup-body text-{{ module.popup.alignment }}">
        {% if module.popup.subheading %}
          <label class="subheading color-{{ module.popup.text_color }}">{{ module.popup.subheading }}</label>
        {% endif %}
        {% if module.popup.heading %}
          <{{ module.popup.heading_size }} class="popup-heading color-{{ module.popup.text_color }}{% if module.popup.heading_underline != "none" %} heading-underline--{{ module.popup.heading_underline }}{% endif %}">
            <span>{{ module.popup.heading }}</span>
          </{{ module.popup.heading_size }}>
        {% endif %}
        {% if module.popup.text %}
          <div class="popup-text color-{{ module.popup.text_color }}">{{ module.popup.text }}</div>
        {% endif %}
      
        {% if ( module.popup.button_1.popup_button_1_text and module.popup.button_1.popup_button_1_link.url.href ) or ( module.popup.button_2.popup_button_1_text and module.popup.button_1.popup_button_1_link.url.href ) %}
          <div class="popup-buttons justify-{{ module.popup.alignment }}">
            {% if module.popup.button_1.popup_button_1_text and module.popup.button_1.popup_button_1_link.url.href %}
              {% if module.popup.button_1.popup_button_1_link.url.type is equalto 'EMAIL_ADDRESS' %}
                {% set href = 'mailto:' ~ module.popup.button_1.popup_button_1_link.url.href %}
              {% elif module.popup.button_1.popup_button_1_link.url.href == '/' %}
                {% set href = module.popup.button_1.popup_button_1_link.url.href %}
              {% else %}
                {% unless (module.popup.button_1.popup_button_1_link.url.href is string_containing '//') or (module.popup.button_1.popup_button_1_link.url.href is string_containing 'tel:') or !module.popup.button_1.popup_button_1_link.url.href %}
                  {% set href = '//' ~ module.popup.button_1.popup_button_1_link.url.href %}
                {% else %}
                  {% set href = module.popup.button_1.popup_button_1_link.url.href or '' %}
                {% endunless %}
              {% endif %}
              {% set rel = (module.popup.button_1.popup_button_1_link.open_in_new_tab ? 'noopener ' : null) ~ (module.popup.button_1.popup_button_1_link.no_follow ? 'nofollow' : null) %}
              <span>
                <a
                  class="button button-{% if module.popup.button_1.popup_button_1_type == 'outline' %}outline-{% endif %}{{ module.popup.button_1.popup_button_1_color }}"
                  href="{{ href }}"
                  {% if module.popup.button_1.popup_button_1_link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel }}"{% endif %}
                >
                  {{ module.popup.button_1.popup_button_1_text }}
                </a>
              </span>
            {% endif %}

            {% if module.popup.button_2.popup_button_2_text and module.popup.button_2.popup_button_2_link.url.href %}
              {% if module.popup.button_2.popup_button_2_link.url.type is equalto 'EMAIL_ADDRESS' %}
                {% set href = 'mailto:' ~ module.popup.button_2.popup_button_2_link.url.href %}
              {% elif module.popup.button_2.popup_button_2_link.url.href == '/' %}
                {% set href = module.popup.button_2.popup_button_2_link.url.href %}
              {% else %}
                {% unless (module.popup.button_2.popup_button_2_link.url.href is string_containing '//') or (module.popup.button_2.popup_button_2_link.url.href is string_containing 'tel:') or !module.popup.button_2.popup_button_2_link.url.href %}
                  {% set href = '//' ~ module.popup.button_2.popup_button_2_link.url.href %}
                {% else %}
                  {% set href = module.popup.button_2.popup_button_2_link.url.href or '' %}
                {% endunless %}
              {% endif %}
              {% set rel = (module.popup.button_2.popup_button_2_link.open_in_new_tab ? 'noopener ' : null) ~ (module.popup.button_2.popup_button_2_link.no_follow ? 'nofollow' : null) %}
              <span>
                <a
                  class="button button-{% if module.popup.button_2.popup_button_2_type == 'outline' %}outline-{% endif %}{{ module.popup.button_2.popup_button_2_color }}"
                  href="{{ href }}"
                  {% if module.popup.button_2.popup_button_2_link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel }}"{% endif %}
                >
                  {{ module.popup.button_2.popup_button_2_text }}
                </a>
              </span>
            {% endif %}
          </div>
        {% endif %}
      
        {% if module.popup.form.form.form_id %}
          <div class="form-{{ module.popup.form.form_field_color }} form-no-padding{% unless module.popup.form.form_labels %} form-no-labels{% endunless %}">
            {% form
              form_to_use="{{ module.popup.form.form.form_id }}"
              response_response_type="{{ module.popup.form.form.response_type }}"
              response_message="{{ module.popup.form.form.message }}"
              response_redirect_id="{{ module.popup.form.form.redirect_id }}"
              response_redirect_url="{{module.popup.form.form.redirect_url}}"
              gotowebinar_webinar_key="{{ module.popup.form.form.gotowebinar_webinar_key }}"
            %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}
