<!--
  templateType: page
  isAvailableForNewContent: true
  label: About
  screenshotPath: ../images/template-previews/about.jpg
-->

{% extends './layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--about', label='Main section' %}

  
    {% dnd_section
      full_width=true,
      padding={'top': '0', 'bottom': '0', 'left': '0', 'right': '0'}
    %}
      {% dnd_module 'hero_banner_1' path='../modules/Hero Banner',
        layout='text',
        background_overlay={
          background_type: 'image',
          background_image: {
            'src': get_asset_url('../images/bg-image-lines-1.jpg')
          },
          fixed_background: true,
          enable_overlay: true,
          overlay_color_choice: 'dark'
        },
        text={
          heading: 'About Us',
          heading_underline: 'accent',
          heading_underline_color: 'light',
          subheading: 'Our Story',
          intro_text: ''
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  
    
    {% include_dnd_partial path='../sections/title-text-button-centered.html' context={} %}
  
  
    {% dnd_section
      vertical_alignment='MIDDLE',
      full_width=true,
      padding={'top': '0', 'bottom': '0', 'left': '0', 'right': '0'},
      background_color='#f9f9f9'
    %}
      {% dnd_column width=6 %}
        {% dnd_row %}
          {% dnd_module 'image_1' path='../modules/Image - B2B Engine',
            image={
              'src': get_asset_url('../images/bg-image-logo.jpg')
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column
        width=6,
        offset=6,
        padding={
          'default': {
            'top': '3rem',
            'bottom': '3rem',
            'right': '4rem'
          },
          'mobile': {
            'top': '1.75rem',
            'left': '20px',
            'right': '20px'
          }
        }
      %}
        {% dnd_row %}
          {% dnd_module 'text_2' path='../modules/Text - B2B Engine',
            heading='Our Vision',
            heading_size='h2',
            subheading='Subheading',
            intro_text='',
            main_text='<p>Lorem ipsum dolor sit amet, ei cum stet melius, et congue corrumpit sit. Vel et duis vitae signiferumque, id homero fierent democritum usu.</p><p>Lorem feugiat alienum at duo. Per et habeo libris. An duo denique accusam. Amet fuisset senserit sed et. Dolor nostrud ne nec.</p>',
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'button_1' path='../modules/Button - B2B Engine' %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
    {% dnd_section padding={'bottom': '0'} %}
      {% dnd_module 'text_3' path='../modules/Text - B2B Engine',
        alignment='center',
        heading='Tell Your Story',
        heading_size='h2',
        heading_underline='accent',
        subheading='Timeline Module',
        intro_text='',
        main_text='',
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  
  
    {% dnd_section padding={'top': '3rem'} %}
      {% dnd_module 'timeline_1' path='../modules/Timeline',
        timeline_blocks=[
          {
            'image': {
              'src': get_asset_url('../images/card-3.jpg')
            },
            'text': {
              'heading': 'Heading Text',
              'heading_size': 'h2',
              'subheading': '1996',
              'main_text': 'Lorem ipsum dolor sit amet, ei cum stet melius, et congue corrumpit sit. Vel et duis vitae signiferumque, id homero fierents, olor sit amet, ei cum stet melius, et congue.'
            }
          },
          {
            'image': {
              'src': get_asset_url('../images/card-5.jpg')
            },
            'text': {
              'heading': 'Heading Text',
              'heading_size': 'h2',
              'subheading': '1996',
              'main_text': 'Lorem ipsum dolor sit amet, ei cum stet melius, et congue corrumpit sit. Vel et duis vitae signiferumque, id homero fierents, olor sit amet, ei cum stet melius, et congue.'
            }
          }
        ]
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'auto',
        'imageUrl': get_asset_url('../images/bg-lines-gray.png')
      } 
    %}
      {% dnd_column %}    
        {% dnd_row %}
          {% dnd_module 'text_4' path='../modules/Text - B2B Engine',
            alignment='center',
            heading='Leadership',
            heading_size='h2',
            heading_underline='accent',
            subheading='Card Module',
            intro_text='',
            main_text='',
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'cards_1' path='../modules/Cards',
            cards=[
              {
                'alignment': 'center',
                'image': {
                  'src': get_asset_url('../images/headshot-team-member-1.png')
                },
                'background_color': 'transparent',
                'text_color': 'body',
                'heading': 'Martha Smith',
                'heading_size': 'h3',
                'subheading': 'Founder & CEO',
                'main_text': 'Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.',
                'enable_social_links': true,
                'social_links': [
                  {
                    'social_account': 'linkedin-in',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.linkedin.com',
                        'content_id': null
                      }
                    }
                  },
                  {
                    'social_account': 'twitter',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.twitter.com',
                        'content_id': null
                      }
                    }
                  }
                ]
              },
              {
                'alignment': 'center',
                'image': {
                  'src': get_asset_url('../images/headshot-team-member-5.png')
                },
                'background_color': 'transparent',
                'text_color': 'body',
                'heading': 'Donnald Barrett',
                'heading_size': 'h3',
                'subheading': 'Chief Financial OfficerO',
                'main_text': 'Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.',
                'enable_social_links': true,
                'social_links': [
                  {
                    'social_account': 'linkedin-in',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.linkedin.com',
                        'content_id': null
                      }
                    }
                  },
                  {
                    'social_account': 'twitter',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.twitter.com',
                        'content_id': null
                      }
                    }
                  }
                ]
              },
              {
                'alignment': 'center',
                'image': {
                  'src': get_asset_url('../images/headshot-team-member-4.png')
                },
                'background_color': 'transparent',
                'text_color': 'body',
                'heading': 'Angela Doyer',
                'heading_size': 'h3',
                'subheading': 'Marketing Director',
                'main_text': 'Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.',
                'enable_social_links': true,
                'social_links': [
                  {
                    'social_account': 'linkedin-in',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.linkedin.com',
                        'content_id': null
                      }
                    }
                  },
                  {
                    'social_account': 'twitter',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.twitter.com',
                        'content_id': null
                      }
                    }
                  }
                ]
              },
              {
                'alignment': 'center',
                'image': {
                  'src': get_asset_url('../images/headshot-team-member-2.png')
                },
                'background_color': 'transparent',
                'text_color': 'body',
                'heading': 'Markus Johnson',
                'heading_size': 'h3',
                'subheading': 'Project Manager',
                'main_text': 'Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.',
                'enable_social_links': true,
                'social_links': [
                  {
                    'social_account': 'linkedin-in',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.linkedin.com',
                        'content_id': null
                      }
                    }
                  },
                  {
                    'social_account': 'twitter',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.twitter.com',
                        'content_id': null
                      }
                    }
                  }
                ]
              },
              {
                'alignment': 'center',
                'image': {
                  'src': get_asset_url('../images/headshot-team-member-3.png')
                },
                'background_color': 'transparent',
                'text_color': 'body',
                'heading': 'Peter Lee',
                'heading_size': 'h3',
                'subheading': 'Creative Director',
                'main_text': 'Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.',
                'enable_social_links': true,
                'social_links': [
                  {
                    'social_account': 'linkedin-in',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.linkedin.com',
                        'content_id': null
                      }
                    }
                  },
                  {
                    'social_account': 'twitter',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.twitter.com',
                        'content_id': null
                      }
                    }
                  }
                ]
              },
              {
                'alignment': 'center',
                'image': {
                  'src': get_asset_url('../images/headshot-team-member-6.png')
                },
                'background_color': 'transparent',
                'text_color': 'body',
                'heading': 'Anika Martin',
                'heading_size': 'h3',
                'subheading': 'Sales Director',
                'main_text': 'Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.',
                'enable_social_links': true,
                'social_links': [
                  {
                    'social_account': 'linkedin-in',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.linkedin.com',
                        'content_id': null
                      }
                    }
                  },
                  {
                    'social_account': 'twitter',
                    'social_link': {
                      'url': {
                        'type' : 'EXTERNAL',
                        'href': 'https://www.twitter.com',
                        'content_id': null
                      }
                    }
                  }
                ]
              }
            ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'section_options_1' path='../modules/Section Options',
            background_effects='fixed'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
  {% end_dnd_area %}
</main>
{% endblock body %}