<!--
  templateType: blog_post
  isAvailableForNewContent: true
  label: Blog post
  screenshotPath: ../images/template-previews/blog-post.jpg
-->

{% extends './layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  <div class="body-container body-container--blog-post">

    <div id="progress-wrapper" class="progress-wrapper">
      <div id="progress-bar" class="progress-bar"></div>
    </div>
    
    {# Blog post #}
    <div class="blog-post-wrapper">
      <article class="blog-post">
          
        
        <div class="blog-post__header">
          <div class="container">
            <a class="blog-post__back" href="{{ group.absolute_url }}"><i class="fa fa-angle-left" aria-hidden="true"></i> Back to Blog</a>
          </div>
          <div class="container">
            <div class="blog-post__header-data" data-aos="{{ theme.animations.animation_type }}">
              {% if content.tag_list %}
                <div class="tags-list">
                  {% for tag in content.tag_list %}
                    <a class="tag tag-link" href="{{ blog_tag_url(group.id, tag.slug) }}" rel="tag">{{ tag.name }}</a>
                  {% endfor %}
                </div>
              {% endif %}
              <h1>{{ content.name }}</h1>
              <div class="blog-post__meta-wrapper">
                {% if content.blog_post_author.slug %}
                  <a class="blog-post__meta blog-post__meta--author" href="{{ blog_author_url(group.id, content.blog_post_author.slug) }}" rel="author">
                    {% icon name='user', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ content.blog_post_author.display_name }}</span>
                  </a>
                {% endif %}
                <time class="blog-post__meta blog-post__meta--timestamp" datetime="{{ content.publish_date }}">
                  {% icon name='calendar-alt', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ content.publish_date_localized }}{#{ content.publish_date_localized|datetimeformat('%B %e, %Y') }#}</span>
                </time>
                <div class="blog-post__meta blog-post__meta--minutes">                         
                  {% if content.post_body|striptags|wordcount > 0 %}
                    {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{content.post_body|wordcount|float|divide(300)|round(0, 'ceil')}} minute read</span>
                  {% else %}
                    {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>1 minute read</span>
                  {% endif %}
                </div>
              </div>
            </div>
            {% if content.featured_image %}
              <div class="blog-post__image" style="background-image: url('{{ resize_image_url(content.featured_image, 960 ) }}');" data-aos="{{ theme.animations.animation_type }}" data-aos-delay="{{ theme.animations.animation_delay * 2 }}"></div>
            {% endif %}
          </div>
        </div>

        <div class="blog-post__body">
          <div class="container">
            <div class="blog-post__body-inner">
              {{ content.post_body }}
            </div>
            <div class="blog-post__share">
              <div class="blog-post__share-inner">
                {% module_block module "social_sharing" path='@hubspot/social_sharing' label='Social Sharing', use_page_url=True, overrideable=True %}
                  {% module_attribute "twitter" is_json=True %}{"enabled": true, "network": "twitter"}{% end_module_attribute %}
                  {% module_attribute "linkedin" is_json=True %}{"enabled": true, "network": "linkedin"}{% end_module_attribute %}
                  {% module_attribute "facebook" is_json=True %}{"enabled": true, "network": "facebook"}{% end_module_attribute %}
                  {% module_attribute "email" is_json=True %}{"enabled": true, "network": "email"}{% end_module_attribute %}
                {% end_module_block %}
              </div>
            </div>
          </div>
        </div>
      </article>
      {% if group.allow_comments %}
        <div class="blog-comments">
          {% module 'blog_comments' path='@hubspot/blog_comments', label="Blog comments" %}
        </div>
      {% endif %}
    </div>
    {# End blog post #}

    {# Recent posts listing #}
    {# This macro is used to format each recent post card and gets passed to the related_blog_posts HubL tag below #}
    {% macro related_posts(post, count, total) %}
      {% if count == 1 %}
        <section class="blog-related-posts">
          <div class="container">
            <h2>Related Posts</h2>
            <div class="blog-related-posts-list">
      {% endif %}
              <article class="blog-card" aria-label="Blog post summary: {{ post.name }}" data-aos="{{ theme.animations.animation_type }}" data-aos-delay="{{ ( ( ( count - 1 )  % 3 ) * theme.animations.animation_delay ) + theme.animations.animation_delay }}">
                <div class="blog-card-inner{% if theme.blog.blog_post_card_hover_behavior != "none" %} card-hover--{{ theme.blog.blog_post_card_hover_behavior }}{% endif %}">
                  <a href="{{ post.absolute_url }}">
                    {% if post.featured_image and group.use_featured_image_in_summary %}
                      <div class="blog-card-image-wrapper">
                        <div class="blog-card-image" style="background-image: url('{{ resize_image_url(post.featured_image, 730 ) }}')";></div>
                      </div>
                    {% endif %}
                    <div class="blog-card-content">
                      <h3 class="blog-card-title">{{ post.name }}</h3>
                      {% if content_group.show_summary_in_listing %}
                        <p>{{ post.post_summary|truncatehtml(100)|striptags }}</p>
                      {% endif %}
                      <div class="blog-card-meta-wrapper">
                        <div class="blog-card-meta blog-card-meta--author">
                          {% icon name='user', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ post.blog_post_author.display_name }}</span>
                        </div>
                        <time datetime="{{ content.publish_date }}" class="blog-card-meta blog-card-meta--timestamp">
                          {% icon name='calendar-alt', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ post.publish_date_localized }}{#{ post.publish_date_localized|datetimeformat('%B %e, %Y') }#}</span>
                        </time>
                        <div class="blog-card-meta blog-card-meta--minutes">                         
                          {% if content.post_body|striptags|wordcount > 0 %}
                            {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{post.post_body|wordcount|float|divide(300)|round(0, 'ceil')}} minute read</span>
                          {% else %}
                            {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>1 minute read</span>
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </article>
        {% if count == total %}
            </div>
          </div>
        </section>
      {% endif %}
    {% endmacro %}

    {% related_blog_posts
      limit=3,
      no_wrapper=True,
      post_formatter="related_posts"
    %}
    {# End recent posts listing #}

  </div>
</main>
{% endblock body %}