<!--
  templateType: blog_listing
  isAvailableForNewContent: true
  label: Blog listing
  screenshotPath: ../images/template-previews/blog-index.jpg
-->

{% extends './layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper blog-page_{{ current_page_num }}">
  {% dnd_area 'dnd_area' class='body-container body-container--blog-index bg-light-gray', label='Main section' %}
    {% dnd_section
      full_width=true,
      background_color="{{ theme.colors.dark_color.color }}",
      padding={
        "default" : {
          "bottom" : "0px",
          "top" : "0px",
          "left" : "0px",
          "right" : "0px"
        }
      }
    %}
      {% dnd_module
        path="../modules/blog-listing/Blog Listing - Header",
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
    {% dnd_section
      background_color="{{ theme.colors.light_gray_color.color }}",
      padding={
        "default" : {
          "bottom" : "90px",
          "top" : "90px"
        },
        "mobile" : {
          "bottom" : "60px",
          "top" : "60px"
        }
      }
    %}
      {% dnd_module
        path="../modules/blog-listing/Blog Listing - Posts",
        offset=0,
        width=12
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  {% end_dnd_area %}

  {# Hidden #}
  <div class="blog-index__sidebar-search-inner">
    {% module 'search_input' path='@hubspot/search_input', content_types={ 'website_pages': true, 'landing_pages': false, 'blog_posts': true, 'knowledge_articles': false } %}
  </div>
  {# End Hidden #}
</main>
{% endblock body %}
