<!--
  templateType: page
  isAvailableForNewContent: true
  label: Case Study
  screenshotPath: ../images/template-previews/case-study.jpg
-->

{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--case-study', label='Main section' %}

    
    {% include_dnd_partial path='../sections/hero-centered-text.html' context={} %}
  
  
    {% dnd_section
      padding={'top': '4rem', 'bottom': '4rem'},
      background_color='#f9f9f9'
    %}
      {% dnd_column width=4 %}
        {% dnd_row %}
          {% dnd_module 'text_1' path='../modules/Text - B2B Engine',
            heading='Company Description',
            heading_size='h3',
            subheading='',
            intro_text='',
            main_text='<p>Lorem ipsum dolor sit amet, ei cum stet melius, et congue corrumpit sit. Vel et duis vitae signiferumque, id homero fierent democritum usu.</p><p><span style="text-decoration: underline;"><a href="https://www.npws.net" rel="noopener">VISIT WEBSITE</a></span></p>'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'text_2' path='../modules/Text - B2B Engine',
            heading='Company Size',
            heading_size='h3',
            subheading='',
            intro_text='',
            main_text='11 – 50'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'text_3' path='../modules/Text - B2B Engine',
            heading='Headquarters',
            heading_size='h3',
            subheading='',
            intro_text='',
            main_text='Boston, MA'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'text_4' path='../modules/Text - B2B Engine',
            heading='Industries Served',
            heading_size='h3',
            subheading='',
            intro_text='',
            main_text='Environmental Services, Environmental Consulting, Pollution Control'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column width=8, offset=4 %}
        {% dnd_row %}
          {% dnd_module 'text_5' path='../modules/Text - B2B Engine',
            heading='Client Story',
            heading_size='h2',
            heading_underline='accent',
            subheading='',
            intro_text='',
            main_text='<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis mattis aliquam faucibus purus. Dictum non consectetur a erat. Dolor morbi non arcu risus. Ultrices vitae auctor eu augue ut. A arcu cursus vitae congue mauris rhoncus aenean vel. Id cursus metus aliquam eleifend mi in nulla posuere. Odio facilisis mauris sit amet massa vitae tortor. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Malesuada nunc vel risus commodo. Fames ac turpis egestas maecenas pharetra convallis. Consequat id porta nibh venenatis. Morbi tincidunt ornare massa eget egestas purus viverra. Egestas egestas fringilla phasellus faucibus scelerisque. Morbi non arcu risus quis varius quam.</p><p>Purus gravida quis blandit turpis cursus in hac. Aenean euismod elementum nisi quis. In hac habitasse platea dictumst quisque sagittis purus. Amet facilisis magna etiam tempor orci eu lobortis elementum. Ut venenatis tellus in metus vulputate eu scelerisque. Aenean euismod elementum nisi quis. In hac habitasse platea di. Odio facilisis mauris sit amet massa vitae tortor. Erat imperdiet sed euismod nisi do eiusmod tempor incididunt ut labore.</p>'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
    {% include_dnd_partial path='../sections/testimonials-slider.html' context={} %}
  
  
    {% dnd_section
      max_width=1000,
      padding={'top': '4rem', 'bottom': '4rem'},
      background_color='#f9f9f9'
    %}
      {% dnd_column %}    
        {% dnd_row %}
          {% dnd_module 'text_7' path='../modules/Text - B2B Engine',
            alignment='center',
            heading='The Challenge',
            heading_size='h2',
            heading_underline='accent',
            subheading='',
            intro_text='',
            main_text='',
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'image_1' path='../modules/Image - B2B Engine',
            image={
              'src': get_asset_url('../images/bg-image-lines-2.jpg')
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'text_8' path='../modules/Text - B2B Engine',
            heading='',
            subheading='',
            intro_text='',
            main_text='<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis mattis aliquam faucibus purus. Dictum non consectetur a erat. Dolor morbi non arcu risus. Ultrices vitae auctor eu augue ut. A arcu cursus vitae congue mauris rhoncus aenean vel. Id cursus metus aliquam eleifend mi in nulla posuere. Odio facilisis mauris sit amet massa vitae tortor. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Malesuada nunc vel risus commodo. Fames ac turpis egestas maecenas pharetra convallis. Consequat id porta nibh venenatis. Morbi tincidunt ornare massa eget egestas purus viverra. Egestas egestas fringilla phasellus faucibus scelerisque. Morbi non arcu risus quis varius quam.</p><p>Purus gravida quis blandit turpis cursus in hac. Aenean euismod elementum nisi quis. In hac habitasse platea dictumst quisque sagittis purus. Amet facilisis magna etiam tempor orci eu lobortis elementum. Ut venenatis tellus in metus vulputate eu scelerisque. Aenean euismod elementum nisi quis. In hac habitasse platea di. Odio facilisis mauris sit amet massa vitae tortor. Erat imperdiet sed euismod nisi do eiusmod tempor incididunt ut labore.</p>',
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      max_width=1000,
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/bg-logo-1.png')
      } 
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module 'text_9' path='../modules/Text - B2B Engine',
            alignment='center',
            heading='Our Solutions',
            heading_size='h2',
            subheading='Card Layouts',
            intro_text='',
            main_text='',
            heading_underline='accent'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'text_10' path='../modules/Text - B2B Engine',
            heading='',
            subheading='',
            intro_text='',
            main_text='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis mattis aliquam faucibus purus. Dictum non consectetur a erat. Dolor morbi non arcu risus. Ultrices vitae auctor eu augue ut. A arcu cursus vitae congue mauris rhoncus aenean vel. Id cursus metus aliquam eleifend mi in nulla posuere. Odio facilisis mauris sit amet massa vitae tortor. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Malesuada nunc vel risus commodo. Fames ac turpis egestas maecenas pharetra convallis.',
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'cards_1' path='../modules/Cards',
            variation='var_4',
            hover_behavior='card-zoom',
            cards=[
              {
                'image': {
                  'src': get_asset_url('../images/card-1.jpg')
                },
                'overlay_color_choice': 'dark',
                'overlay_text_color': 'light',
                'background_color': 'primary',
                'text_color': 'light',
                'heading': 'Solar Eco Power',
                'heading_size': 'h3',
                'subheading': 'New',
                'main_text': 'Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.'
              },{
                'image': {
                  'src': get_asset_url('../images/card-2.jpg')
                },
                'overlay_color_choice': 'dark',
                'overlay_text_color': 'light',
                'background_color': 'primary',
                'text_color': 'light',
                'heading': 'Solar Heating',
                'heading_size': 'h3',
                'subheading': 'Proven',
                'main_text': 'Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.'
              },{
                'image': {
                  'src': get_asset_url('../images/card-3.jpg')
                },
                'overlay_color_choice': 'dark',
                'overlay_text_color': 'light',
                'background_color': 'primary',
                'text_color': 'light',
                'heading': 'Solar Panels',
                'heading_size': 'h3',
                'subheading': 'Cost-Effective',
                'main_text': 'Lorem ipsum dolor sit amet, congue inciderint sea no, ut eos exerci soluta, an quo suscipit similique. Vix mucius docendi in, dictas habemus an nam.'
              }
            ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      max_width=1000,
      padding={'bottom': '0'},
      background_color='#102d7b'
    %}
      {% dnd_column %}
        {% dnd_row %}
          {% dnd_module 'text_11' path='../modules/Text - B2B Engine',
            alignment='center',
            text_color='light',
            heading='The Results',
            heading_size='h2',
            subheading='Counters',
            intro_text='',
            main_text=''
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'text_12' path='../modules/Text - B2B Engine',
            text_color='light',
            heading='',
            subheading='',
            intro_text='',
            main_text='Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lobortis mattis aliquam faucibus purus. Dictum non consectetur a erat. Dolor morbi non arcu risus. Ultrices vitae auctor eu augue ut. A arcu cursus vitae congue mauris rhoncus aenean vel. Id cursus metus aliquam eleifend mi in nulla posuere. Odio facilisis mauris sit amet massa vitae tortor. Erat imperdiet sed euismod nisi porta lorem mollis aliquam. Malesuada nunc vel risus commodo. Fames ac turpis egestas maecenas pharetra convallis.'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      max_width=1000,
      background_color='#102d7b'
    %}
      {% dnd_column width=4 %}
        {% dnd_row %}
          {% dnd_module 'counter_1' path='../modules/Counter',
            icon_color='light',
            number='100',
            number_color='light',
            prefix='',
            suffix='',
            top_text='',
            bottom_text='RESULTS',
            text_color='light'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column width=4, offset=4 %}
        {% dnd_row %}
          {% dnd_module 'counter_2' path='../modules/Counter',
            icon_color='light',
            number='100',
            number_color='light',
            prefix='',
            suffix='',
            top_text='',
            bottom_text='RESULTS',
            text_color='light',
            animation_settings={
              'animation_delay': 300
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column width=4, offset=8 %}
        {% dnd_row %}
          {% dnd_module 'counter_3' path='../modules/Counter',
            icon_color='light',
            number='100',
            number_color='light',
            prefix='',
            suffix='',
            top_text='',
            bottom_text='RESULTS',
            text_color='light',
            animation_settings={
              'animation_delay': 450
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'cover',
        'imageUrl': get_asset_url('../images/bg-logo-1.png')
      } 
    %}
      {% dnd_column %}    
        {% dnd_row %}
          {% dnd_module 'text_13' path='../modules/Text - B2B Engine',
            alignment='center',
            heading='Connect With Your Prospects',
            heading_size='h2',
            heading_underline='accent',
            subheading='Flexible Content Modules',
            intro_text='',
            main_text='',
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'button_1' path='../modules/Button - B2B Engine',
            alignment='center',
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}


  {% end_dnd_area %}
</main>
{% endblock body %}
