<!--
  templateType: page
  isAvailableForNewContent: true
  label: Contact
  screenshotPath: ../images/template-previews/contact.jpg
-->

{% extends './layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--contact', label='Main section' %}
  
  
    {% dnd_section
      vertical_alignment='TOP',
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'auto',
        'imageUrl': get_asset_url('../images/bg-lines-gray.png')
      } 
    %}
      {% dnd_column width=7, background_color='#021b41', padding={'top': '1.5rem', 'bottom': '1.5rem', 'left': '1.5rem', 'right': '1.5rem'} %}
        {% dnd_row %}
          {% dnd_module 'text_1' path='../modules/Text - B2B Engine',
            text_color= 'light',
            heading='Contact Us',
            subheading='',
            intro_text='Looking to transform the way you run your business? Our B2B experts will helptake you to the next level.',
            main_text=''
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'form_1' path='../modules/Form - B2B Engine',
            form_field_color='light',
            form_background_color='dark',
            form_padding='false'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column, offset=7, width=5 %}
        {% dnd_row %}
          {% dnd_module 'text_2' path='../modules/Text - B2B Engine',
            heading='Find Us',
            subheading='',
            intro_text='',
            main_text='<h4><span>Our Headquarters</span></h4><p>321 B2B Drive - Building 202<br>New York, New York 10001</p><p>tel: 1 (888) 123-4567<br>fax: 1 (888) 123-4567</p>'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'text_3' path='../modules/Text - B2B Engine',
            heading='Connect With Us',
            subheading='',
            intro_text='',
            main_text=''
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'social_links_1' path='../modules/Social Links',
            alignment='left' %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  

  {% end_dnd_area %}
</main>
{% endblock body %}