<!--
  templateType: page
  isAvailableForNewContent: true
  label: Landing
  screenshotPath: ../images/template-previews/landing.jpg
-->

{% extends './layouts/base.html' %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--landing', label='Main section' %}

    
    {% dnd_section
      padding={'top': '3rem', 'bottom': '3rem'}
    %}
      {% dnd_module 'image_1' path='../modules/Image - B2B Engine',
        image={
          'src': get_asset_url('../images/b2b-engine-logo.png')
        }
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      vertical_alignment='TOP',
      padding={'top': '0', 'bottom': '0'}
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'auto',
        'imageUrl': get_asset_url('../images/bg-lines-gray.png')
      } 
    %}
      {% dnd_column width=6 %}
        {% dnd_row %}
          {% dnd_module 'image_1' path='../modules/Image - B2B Engine',
              image={
                'src': get_asset_url('../images/landing-image.png')
              }
            %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column, offset=6, width=6 %}
        {% dnd_row %}
          {% dnd_module 'text_1' path='../modules/Text - B2B Engine',
            heading='Download your<br><span class="color-secondary">FREE</span> eBook',
            heading_size='h1',
            subheading='',
            intro_text='',
            main_text='Use this space to tell everyone what your eBook is all about.'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'form_1' path='../modules/Form - B2B Engine' %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      padding={'bottom': '0'}
    %}
      {% dnd_module 'text_2' path='../modules/Text - B2B Engine',
        alignment='center',
        heading="What's Inside",
        subheading='Solar Trends',
        intro_text='',
        main_text=''
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      padding={'top': '2rem'}
    %}
      {% dnd_column width=4 %}
        {% dnd_row %}
          {% dnd_module 'image_1' path='../modules/Image - B2B Engine',
            image={
              'src': get_asset_url('../images/card-7.jpg')
            },
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'text_3' path='../modules/Text - B2B Engine',
            heading="Feature One",
            heading_size='h3',
            subheading='',
            intro_text='',
            main_text='Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column width=4, offset=4 %}
        {% dnd_row %}
          {% dnd_module 'image_1' path='../modules/Image - B2B Engine',
            image={
              'src': get_asset_url('../images/card-6.jpg')
            },
            animation_settings={
              'animation_delay': 300
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'text_3' path='../modules/Text - B2B Engine',
            heading="Feature Two",
            heading_size='h3',
            subheading='',
            intro_text='',
            main_text='Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.',
            animation_settings={
              'animation_delay': 300
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
      {% dnd_column width=4, offset=8 %}
        {% dnd_row %}
          {% dnd_module 'image_1' path='../modules/Image - B2B Engine',
            image={
              'src': get_asset_url('../images/card-2.jpg')
            },
            animation_settings={
              'animation_delay': 450
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'text_3' path='../modules/Text - B2B Engine',
            heading="Feature Three",
            heading_size='h3',
            subheading='',
            intro_text='',
            main_text='Use text and images to tell your company’s story. Explain what makes your product or service extraordinary.',
            animation_settings={
              'animation_delay': 450
            }
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  

  {% end_dnd_area %}
</main>
{% endblock body %}
