<!--
  templateType: page
  isAvailableForNewContent: true
  label: Products
  screenshotPath: ../images/template-previews/products.jpg
-->

{% extends "./layouts/base.html" %}

{% block body %}
<main id="main-content" class="body-container-wrapper">
  {% dnd_area 'dnd_area' class='body-container body-container--products', label='Main section' %}

    
    {% dnd_section
      full_width=true,
      padding={'top': '0', 'bottom': '0', 'left': '0', 'right': '0'}
    %}
      {% dnd_module 'hero_banner_1' path='../modules/Hero Banner',
        layout='text',
        background_overlay={
          background_type: 'image',
          background_image: {
            'src': get_asset_url('../images/bg-lines-gray.png')
          },
          fixed_background: true
        },
        text={
          text_color: 'default',
          heading: 'Our Products',
          heading_underline: 'accent',
          subheading: 'Multi-Purpose Modules',
          intro_text: 'Lorem ipsum dolor sit amet, ei cum stet melius, et congue corrumpit sit. Vel et duis vitae signiferumque, id homero fierent democritum usu. Lorem feugiat alienum at duo. Per et habeo libris. An duo denique accusam. Amet fuisset senserit sed et. Dolor nostrud ne nec.'
        },
        enable_custom_width=true,
        custom_width=960
      %}
      {% end_dnd_module %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      max_width=1100,
      padding={'top': '4rem', 'bottom': '3rem'},
      background_color='#f9f9f9'
    %}
      {% dnd_column %}
        {% dnd_row vertical_alignment='MIDDLE' %}
          {% dnd_column width=6 %}
            {% dnd_row %}
              {% dnd_module 'text_1' path='../modules/Text - B2B Engine',
                heading='Product 1',
                heading_size='h2',
                subheading='Multi-Purpose Modules',
                intro_text='',
                main_text='Lorem ipsum dolor sit amet, ei cum stet melius, et congue corrumpit sit. Vel et duis vitae signiferumque, id homero fierent democritum usu. Lorem feugiat alienum at duo. Per et habeo libris. An duo denique accusam. Amet fuisset senserit sed et. Dolor nostrud ne nec. id homero fierent democritum usu. Lorem feugiat alienum at duo'
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module 'button_1' path='../modules/Button - B2B Engine',
                text='Download the Brochure',
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=6, offset=6 %}
            {% dnd_row %}
              {% dnd_module 'gallery_1' path='../modules/Gallery - B2B Engine',
                layout='slider',
                slider_options={
                  arrows: false
                }
                items_in_row=1,
                images=[
                  {
                    'image': {
                      'src': get_asset_url('../images/card-10.jpg')
                    }
                  },
                  {
                    'image': {
                      'src': get_asset_url('../images/card-9.jpg')
                    }
                  },
                  {
                    'image': {
                      'src': get_asset_url('../images/card-8.jpg')
                    }
                  }
                ]
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'accordion_1' path='../modules/Accordion',
            accordion_items=[
              {
                'title': 'Product Details',
                'text': '<ul><li>Vestibulum non nisi placerat nulla gravida iaculis. Nulla pretium ipsum vitae sem vehicula efficitur.</li><li>Donec convallis libero ex, vel aliquet risus ornare ut. Aliquam rutrum ipsum in feugiat fermentum.</li><li>Mauris at nisi consequat, condimentum arcu quis, pharetra urna.</li><li>Duis vitae odio neque. Praesent scelerisque maximus nisi ullamcorper placerat.</li><li>Mauris iaculis pulvinar mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</li><li>Vestibulum non nisi placerat nulla gravida iaculis. Nulla pretium ipsum vitae sem vehicula efficitur.</li><li>Donec convallis libero ex, vel aliquet risus ornare ut. Aliquam rutrum ipsum in feugiat fermentum.</li><li>Mauris at nisi consequat, condimentum arcu quis, pharetra urna.</li><li>Duis vitae odio neque. Praesent scelerisque maximus nisi ullamcorper placerat.</li><li>Mauris iaculis pulvinar mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</li></ul>'
              }
            ]
            background_color='light-gray',
            text_color='dark'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      max_width=1100,
      padding={'top': '4rem', 'bottom': '3rem'}
    %}
      {% dnd_column %}
        {% dnd_row vertical_alignment='MIDDLE' %}
          {% dnd_column width=6 %}
            {% dnd_row %}
              {% dnd_module 'text_2' path='../modules/Text - B2B Engine',
                heading='Product 2',
                heading_size='h2',
                subheading='Multi-Purpose Modules',
                intro_text='',
                main_text='Lorem ipsum dolor sit amet, ei cum stet melius, et congue corrumpit sit. Vel et duis vitae signiferumque, id homero fierent democritum usu. Lorem feugiat alienum at duo. Per et habeo libris. An duo denique accusam. Amet fuisset senserit sed et. Dolor nostrud ne nec. id homero fierent democritum usu. Lorem feugiat alienum at duo'
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module 'button_2' path='../modules/Button - B2B Engine',
                text='Download the Brochure',
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=6, offset=6 %}
            {% dnd_row %}
              {% dnd_module 'gallery_2' path='../modules/Gallery - B2B Engine',
                layout='slider',
                slider_options={
                  arrows: false
                }
                items_in_row=1,
                images=[
                  {
                    'image': {
                      'src': get_asset_url('../images/card-10.jpg')
                    }
                  },
                  {
                    'image': {
                      'src': get_asset_url('../images/card-9.jpg')
                    }
                  },
                  {
                    'image': {
                      'src': get_asset_url('../images/card-8.jpg')
                    }
                  }
                ]
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'accordion_2' path='../modules/Accordion',
            accordion_items=[
              {
                'title': 'Product Details',
                'text': '<ul><li>Vestibulum non nisi placerat nulla gravida iaculis. Nulla pretium ipsum vitae sem vehicula efficitur.</li><li>Donec convallis libero ex, vel aliquet risus ornare ut. Aliquam rutrum ipsum in feugiat fermentum.</li><li>Mauris at nisi consequat, condimentum arcu quis, pharetra urna.</li><li>Duis vitae odio neque. Praesent scelerisque maximus nisi ullamcorper placerat.</li><li>Mauris iaculis pulvinar mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</li><li>Vestibulum non nisi placerat nulla gravida iaculis. Nulla pretium ipsum vitae sem vehicula efficitur.</li><li>Donec convallis libero ex, vel aliquet risus ornare ut. Aliquam rutrum ipsum in feugiat fermentum.</li><li>Mauris at nisi consequat, condimentum arcu quis, pharetra urna.</li><li>Duis vitae odio neque. Praesent scelerisque maximus nisi ullamcorper placerat.</li><li>Mauris iaculis pulvinar mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</li></ul>'
              }
            ]
            background_color='light-gray',
            text_color='dark'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      max_width=1100,
      padding={'top': '4rem', 'bottom': '3rem'},
      background_color='#f9f9f9'
    %}
      {% dnd_column %}
        {% dnd_row vertical_alignment='MIDDLE' %}
          {% dnd_column width=6 %}
            {% dnd_row %}
              {% dnd_module 'text_3' path='../modules/Text - B2B Engine',
                heading='Product 3',
                heading_size='h2',
                subheading='Multi-Purpose Modules',
                intro_text='',
                main_text='Lorem ipsum dolor sit amet, ei cum stet melius, et congue corrumpit sit. Vel et duis vitae signiferumque, id homero fierent democritum usu. Lorem feugiat alienum at duo. Per et habeo libris. An duo denique accusam. Amet fuisset senserit sed et. Dolor nostrud ne nec. id homero fierent democritum usu. Lorem feugiat alienum at duo'
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
            {% dnd_row %}
              {% dnd_module 'button_3' path='../modules/Button - B2B Engine',
                text='Download the Brochure',
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
          {% dnd_column width=6, offset=6 %}
            {% dnd_row %}
              {% dnd_module 'gallery_3' path='../modules/Gallery - B2B Engine',
                layout='slider',
                slider_options={
                  arrows: false
                }
                items_in_row=1,
                images=[
                  {
                    'image': {
                      'src': get_asset_url('../images/card-10.jpg')
                    }
                  },
                  {
                    'image': {
                      'src': get_asset_url('../images/card-9.jpg')
                    }
                  },
                  {
                    'image': {
                      'src': get_asset_url('../images/card-8.jpg')
                    }
                  }
                ]
              %}
              {% end_dnd_module %}
            {% end_dnd_row %}
          {% end_dnd_column %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'accordion_3' path='../modules/Accordion',
            accordion_items=[
              {
                'title': 'Product Details',
                'text': '<ul><li>Vestibulum non nisi placerat nulla gravida iaculis. Nulla pretium ipsum vitae sem vehicula efficitur.</li><li>Donec convallis libero ex, vel aliquet risus ornare ut. Aliquam rutrum ipsum in feugiat fermentum.</li><li>Mauris at nisi consequat, condimentum arcu quis, pharetra urna.</li><li>Duis vitae odio neque. Praesent scelerisque maximus nisi ullamcorper placerat.</li><li>Mauris iaculis pulvinar mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</li><li>Vestibulum non nisi placerat nulla gravida iaculis. Nulla pretium ipsum vitae sem vehicula efficitur.</li><li>Donec convallis libero ex, vel aliquet risus ornare ut. Aliquam rutrum ipsum in feugiat fermentum.</li><li>Mauris at nisi consequat, condimentum arcu quis, pharetra urna.</li><li>Duis vitae odio neque. Praesent scelerisque maximus nisi ullamcorper placerat.</li><li>Mauris iaculis pulvinar mattis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</li></ul>'
              }
            ]
            background_color='light-gray',
            text_color='dark'
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
    {% dnd_section
      max_width=960,
      background_image={
        'backgroundPosition': 'MIDDLE_CENTER',
        'backgroundSize': 'auto',
        'imageUrl': get_asset_url('../images/bg-lines.png')
      } 
    %}
      {% dnd_column %}    
        {% dnd_row %}
          {% dnd_module 'text_6' path='../modules/Text - B2B Engine',
            alignment='center',
            heading='Success Stories',
            heading_size='h2',
            subheading='Testimonials',
            intro_text='',
            main_text='',
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'testimonial_1' path='../modules/Testimonials',
            testimonials=[
              {
                'author_image': {
                  'src': get_asset_url('../images/headshot-team-member-5.png')
                },
                'quote': 'Lorem ipsum dolor sit amet, erant viris tibique an mea, maiorum blandit repudiandae ei nec, eam ut scripta blandit singulis. Ubique recusabo ut his. Ea cum wisi audiam persius, vidit illud graecis in per. Nam ex malis abhorreant, et falli soleat nec, duo augue eripuit euripidis ne.',
                'author': 'Author',
                'title': 'Title'
              },{
                'author_image': {
                  'src': get_asset_url('../images/headshot-team-member-6.png')
                },
                'quote': 'Lorem ipsum dolor sit amet, erant viris tibique an mea, maiorum blandit repudiandae ei nec, eam ut scripta blandit singulis. Ubique recusabo ut his. Ea cum wisi audiam persius, vidit illud graecis in per. Nam ex malis abhorreant, et falli soleat nec, duo augue eripuit euripidis ne.',
                'author': 'Author',
                'title': 'Title'
              }
            ]
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
        {% dnd_row %}
          {% dnd_module 'section_options_1' path='../modules/Section Options',
            background_effects='fixed',
            enable_overlay=true
          %}
          {% end_dnd_module %}
        {% end_dnd_row %}
      {% end_dnd_column %}
    {% end_dnd_section %}
  
  
    {% include_dnd_partial path='../sections/cta-centered-text-button.html' context={} %}
  

  {% end_dnd_area %}
</main>
{% endblock body %}
