<div id="{{ module.custom_id }}" class="cards {{ module.custom_class }}{% if module.layout == "slider" %} slider-enabled{% endif %} popup-gallery-enabled gallery_{{ name }}"
  {% if module.layout == 'slider' %}
		data-slider-items="{{ module.items_in_row }}" 
		data-slider-arrows="{% if module.slider_options.arrows %}true{% else %}false{% endif %}"
		data-slider-dots="{% if module.slider_options.dots %}true{% else %}false{% endif %}"

    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  {% endif %}
>
  {% for item in module.images %}
    <div class="cards-single flex-basis-{{ module.items_in_row }}"
      {% unless module.layout == "slider" %}
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          data-aos-delay="{{ ( ( loop.index0 % module.items_in_row ) * module.animation_settings.animation_delay ) + module.animation_settings.animation_delay }}"
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}
      {% endunless %}
    >
      <div class="cards-single-inner {% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %}">
        {% if module.enable_equal_image_size %}
          <div class="card-image-wrapper">
        {% endif %}
          {% if ( item.link_or_lightbox == "link" and item.link.url.href ) or item.link_or_lightbox == "lightbox" %}
            {% if item.link.url.type is equalto 'EMAIL_ADDRESS' %}
              {% set href = 'mailto:' ~ item.link.url.href %}
            {% elif item.link.url.href == '/' %}
              {% set href = item.link.url.href %}
            {% else %}
              {% unless (item.link.url.href is string_containing '//') or (item.link.url.href is string_containing 'tel:') or !item.link.url.href %}
                {% set href = '//' ~ item.link.url.href %}
              {% else %}
                {% set href = item.link.url.href or '' %}
              {% endunless %}
            {% endif %}

            {% set rel = (item.link.open_in_new_tab ? 'noopener ' : null) ~ (item.link.no_follow ? 'nofollow' : null) %}
   
            <a
              {% if item.link_or_lightbox == "lightbox" %}class="popup-gallery-item"{% endif %}
              href="{% if item.link_or_lightbox == "lightbox" %}{{ item.image.src }}{% else %}{{ href }}{% endif %}"
              {% if item.link.open_in_new_tab %}target="_blank"{% endif %}
              {% if rel %}rel="{{ rel }}"{% endif %}
            >  
          {% endif %}
            <div class="gallery-image{% if module.enable_equal_image_size %} card-image-bg" style="background-image: url({{ item.image.src }});{% endif %}">
              {% unless module.enable_equal_image_size %}
                <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
              {% endunless %}
            </div>
          {% if ( item.link_or_lightbox == "link" and item.link.url.href ) or item.link_or_lightbox == "lightbox" %}
            </a>
          {% endif %}
        {% if module.enable_equal_image_size %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% require_css %}
  <style>
    .gallery_{{ name }} .card-image-wrapper,
    .gallery_{{ name }} .card-image-bg {
      padding-bottom: {{ module.image_height / module.image_width * 100 ~ '%' }};
    }
    
    {% unless module.layout == "slider" %}
      @media (max-width: 767px) {
        .gallery_{{ name }} .cards-single {
          transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
        }
      }
      @media (min-width: 768px) and (max-width: 991px) {
        .gallery_{{ name }} .cards-single:nth-child(odd) {
          transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
        }
        .gallery_{{ name }} .cards-single:nth-child(even) {
          transition-delay: {{ module.animation_settings.animation_delay + 300 ~ "ms" }} !important;
        }
      }
    {% endunless %}
  </style>
{% end_require_css %}