{% if module.post_type == 'recent' %}
  {% set blog_posts = blog_recent_posts(module.blog, module.number_of_posts) %}
{% elif module.post_type == 'popular' %}
  {% set blog_posts = blog_popular_posts(module.blog, module.number_of_posts) %}
{% elif module.post_type == 'featured' %}
  {% set blog_posts = module.featured_posts %}
{% endif %}

<div id="{{ module.custom_id }}" class="cards {{ module.custom_class }}{% if module.layout == "slider" %} slider-enabled{% endif %} cards_{{ name }}"
  {% if module.layout == 'slider' %}
		data-slider-items="{{ module.items_in_row }}" 
		data-slider-arrows="{% if module.slider_options.arrows %}true{% else %}false{% endif %}"
		data-slider-dots="{% if module.slider_options.dots %}true{% else %}false{% endif %}"
    
    {% if module.enable_animation %}
      {% if module.animation_settings.animation_type == "default" %}
        data-aos="{{ theme.animations.animation_type }}"
      {% else %}
        data-aos="{{ module.animation_settings.animation_type }}"
      {% endif %}
      data-aos-delay="{{ module.animation_settings.animation_delay }}"
      {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
      {% endif %}
    {% endif %}
  {% endif %}
>  
  
  {% for item in blog_posts %}
    {% if module.post_type == 'featured' %}
      {% set featured_image = content_by_id(item).featured_image %}
      {% set absolute_url = content_by_id(item).absolute_url %}
      {% set name = content_by_id(item).name %}
      {% set post_list_content = content_by_id(item).post_list_content|truncatehtml(100)|striptags %}
      {% set author_name = content_by_id(item).blog_post_author.display_name %}
      {% set publish_date = content_by_id(item).publish_date %}
      {% set word_count = content_by_id(item).post_body|striptags|wordcount %}
      {% set tag_list = content_by_id(item).tag_list %}
    {% else %}
      {% set featured_image = item.featured_image %}
      {% set absolute_url = item.absolute_url %}
      {% set name = item.name %}
      {% set post_list_content = item.post_list_content|truncatehtml(100)|striptags %}
      {% set author_name = item.blog_post_author.display_name %}
      {% set publish_date = item.publish_date_localized %}
      {% set word_count = item.post_body|striptags|wordcount %}
      {% set tag_list = item.tag_list %}
    {% endif %}
    <div class="cards-single flex-basis-{{ module.items_in_row }}"
      {% unless module.layout == "slider" %}
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          data-aos-delay="{{ ( ( loop.index0 % module.items_in_row ) * module.animation_settings.animation_delay ) + module.animation_settings.animation_delay }}"
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}
      {% endunless %}
    >
      <div class="cards-single-inner bg-{{ module.background_color }}{% if module.hover_behavior != "default" %} card-hover--{{ module.hover_behavior }}{% else %} card-hover--{{ theme.other.card_hover_behavior }}{% endif %}">
        {% if module.whole_card_link %}
          <a href="{{ absolute_url }}" >
        {% endif %}
        
          {% if featured_image %}
            <div class="card-image-wrapper">
              <div class="card-image-bg" style="background-image: url('{{ resize_image_url(featured_image, 730 ) }}');"></div>
            </div>
          {% endif %}
          <div class="card-body text-{{ module.alignment }}">

            {% if tag_list %}
              <div class="tags-list justify-{{ module.alignment }}">  
                {% for tag in tag_list %}
                  <div class="tag">
                    {{ tag.name }}
                  </div>
                {% endfor %}
              </div>
            {% endif %}

            <{{ module.heading_size }} class="card-heading color-{{ module.text_color }}">{{ name }}</{{ module.heading_size }}>
            <div class="card-text color-{{ module.text_color }}">{{ post_list_content }}</div>

            {# <div class="card-post-meta-wrapper color-{{ module.text_color }}">
              <div class="card-post-meta">
                {% icon name='user', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ author_name }}</span>
              </div>
              <time datetime="{{ publish_date }}" class="card-post-meta">
                {% icon name='calendar-alt', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ publish_date }}</span>
              </time>
              <div class="card-post-meta">                         
                {% if word_count > 0 %}
                  {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ word_count|float|divide(300)|round(0, 'ceil') }} minute read</span>
                {% else %}
                  {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>1 minute read</span>
                {% endif %}
              </div>
            </div> #}

          </div>
          {% if !module.whole_card_link and module.button_text %}
            <div class="card-button text-{{ module.alignment }}">
              <a
                class="{% unless module.button_type == 'link' %}button button-{% if module.button_type == 'outline' %}outline-{% endif %}{{ module.button_color }}{% endunless%}"
                href="{{ absolute_url }}"
              >
                {{ module.button_text }}
              </a>
            </div>
          {% endif %}
        
        {% if module.whole_card_link %}
          </a>
        {% endif %}
      
      </div>
    </div>
  {% endfor %}
</div>

{% unless module.layout == "slider" %}
  {% require_css %}
  <style>
     @media (max-width: 767px) {
      .cards_{{ name }} .cards-single {
        transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .cards_{{ name }} .cards-single:nth-child(odd) {
        transition-delay: {{ module.animation_settings.animation_delay ~ "ms" }} !important;
      }
      .cards_{{ name }} .cards-single:nth-child(even) {
        transition-delay: {{ module.animation_settings.animation_delay + 300 ~ "ms" }} !important;
      }
    }
  </style>
  {% end_require_css %}
{% endunless %}