<div class="blog-index">
  {% for content in contents %}
    {# On the blog listing page, the first post will be featured above older posts #}
    {% if loop.first and current_page_num == 1 %}
      <article class="blog-card blog-card--large" aria-label="Blog post summary: {{ content.name }}" data-aos="{{ theme.animations.animation_type }}">
        <a href="{{ content.absolute_url }}">
          <div class="blog-card-inner{% if theme.blog.blog_post_card_hover_behavior != "none" %} card-hover--{{ theme.blog.blog_post_card_hover_behavior }}{% endif %}">
            {% if content.featured_image and group.use_featured_image_in_summary and module.featured_post_sections.enable_featured_image %}
              <div class="blog-card-image-wrapper">
                <div class="blog-card-image" style="background-image: url('{{ resize_image_url(content.featured_image, 960 ) }}')";></div>
              </div>
            {% endif %}
            <div class="blog-card-content">
              {% if content.tag_list and module.featured_post_sections.enable_tags %}
                <div class="tags-list">  
                  {% for tag in content.tag_list %}
                    <div class="tag">
                      {{ tag.name }}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
              {% if module.featured_post_sections.enable_heading %}
                <h2 class="blog-card-title">{{ content.name }}</h2>
              {% endif %}
              {% if content_group.show_summary_in_listing and module.featured_post_sections.enable_intro_text %}
                <p>{{ content.post_list_content|truncatehtml(300)|striptags }}</p>
              {% endif %}
              {% if module.featured_post_sections.enable_author_name or module.featured_post_sections.enable_publish_date or module.featured_post_sections.enable_read_time %}
                <div class="blog-card-meta-wrapper">
                  {% if module.featured_post_sections.enable_author_name %}
                    <div class="blog-card-meta blog-card-meta--author">
                      {% icon name='user', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ content.blog_post_author.display_name }}</span>
                    </div>
                  {% endif %}
                  {% if module.featured_post_sections.enable_publish_date %}
                    <time datetime="{{ content.publish_date }}" class="blog-card-meta blog-card-meta--timestamp">
                      {% icon name='calendar-alt', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ content.publish_date_localized }}{#{ content.publish_date_localized|datetimeformat('%B %e, %Y') }#}</span>
                    </time>
                  {% endif %}
                  {% if module.featured_post_sections.enable_read_time %}
                    <div class="blog-card-meta blog-card-meta--minutes">                         
                      {% if content.post_body|striptags|wordcount > 0 %}
                        {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{content.post_body|wordcount|float|divide(300)|round(0, 'ceil')}} minute read</span>
                      {% else %}
                        {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>1 minute read</span>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </a>
      </article>

      <div class="blog-index__sidebar-wrapper" data-aos="{{ theme.animations.animation_type }}" data-aos-delay="{{ theme.animations.animation_delay * 2 }}">
        <div class="blog-index__sidebar">
          <div class="blog-index__sidebar-search">
            <h4>Search</h4>
          </div>
          <div class="blog-index__sidebar-tags-list">
            <h4>Categories</h4>
            {% set all_tags = blog_tags(group.id, 250) %}
            <ul class="tags-list">
              {% for item in all_tags %}
                <li><a class="tag tag-link" href="{{ blog_tag_url(group.id, item.slug) }}">{{ item }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="blog-index__sidebar-subscribe">
            <h4>Subscribe</h4>
            {% blog_subscribe 'blog_subscribe', label='Blog email subscription', title='', select_blog='group.id', response_message='{{ module.blog_email_subscription_response }}' %}
          </div>
        </div>
      </div>

    {% else %}
      <article class="blog-card blog-card--small" aria-label="Blog post summary: {{ content.name }}" data-aos="{{ theme.animations.animation_type }}"{% if current_page_num == 1  %} data-aos-delay="{{ ( ( ( loop.index + 1 ) % 3 ) * theme.animations.animation_delay ) + theme.animations.animation_delay }}"{% else %} data-aos-delay="{{ ( ( ( loop.index + 2 ) % 3 ) * theme.animations.animation_delay ) + theme.animations.animation_delay }}"{% endif%}>
        <a href="{{ content.absolute_url }}">
          <div class="blog-card-inner{% if theme.blog.blog_post_card_hover_behavior != "none" %} card-hover--{{ theme.blog.blog_post_card_hover_behavior }}{% endif %}">
            {% if content.featured_image and group.use_featured_image_in_summary and module.post_sections.enable_featured_image %}
              <div class="blog-card-image-wrapper">
                <div class="blog-card-image" style="background-image: url('{{ resize_image_url(content.featured_image, 730 ) }}')";></div>
              </div>
            {% endif %}
            <div class="blog-card-content">
              {% if content.tag_list and module.post_sections.enable_tags %}
                <div class="tags-list">  
                  {% for tag in content.tag_list %}
                    <div class="tag">
                      {{ tag.name }}
                    </div>
                  {% endfor %}
                </div>
              {% endif %}
              {% if module.post_sections.enable_heading %}
                <h2 class="blog-card-title">{{ content.name }}</h2>
              {% endif %}
              {% if content_group.show_summary_in_listing and module.post_sections.enable_intro_text %}
                <p>{{ content.post_list_content|truncatehtml(100)|striptags }}</p>
              {% endif %}
              {% if module.post_sections.enable_author_name or module.post_sections.enable_publish_date or module.post_sections.enable_read_time %}
                <div class="blog-card-meta-wrapper">
                  {% if module.post_sections.enable_author_name %}
                    <div class="blog-card-meta blog-card-meta--author">
                      {% icon name='user', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ content.blog_post_author.display_name }}</span>
                    </div>
                  {% endif %}
                  {% if module.post_sections.enable_publish_date %}
                    <time datetime="{{ content.publish_date }}" class="blog-card-meta blog-card-meta--timestamp">
                      {% icon name='calendar-alt', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{ content.publish_date_localized }}{#{ content.publish_date_localized|datetimeformat('%B %e, %Y') }#}</span>
                    </time>
                  {% endif %}
                  {% if module.post_sections.enable_read_time %}
                    <div class="blog-card-meta blog-card-meta--minutes">                         
                      {% if content.post_body|striptags|wordcount > 0 %}
                        {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>{{content.post_body|wordcount|float|divide(300)|round(0, 'ceil')}} minute read</span>
                      {% else %}
                        {% icon name='clock', no_wrapper=True, purpose='decorative', style='REGULAR', width='14' %} <span>1 minute read</span>
                      {% endif %}
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
        </a>
      </article>
    {% endif %}
  {% endfor %}
</div>

{% if module.enable_pagination and contents.total_page_count > 1 %}
  <nav aria-label="Pagination" role="navigation" class="blog-pagination">
    {% set page_list = [-2, -1, 0, 1, 2] %}
    {% if contents.total_page_count - current_page_num == 1 %}
      {% set offset = -1 %}
    {% elif contents.total_page_count - current_page_num == 0 %}
      {% set offset = -2 %}
    {% elif current_page_num == 2 %}
      {% set offset = 1 %}
    {% elif current_page_num == 1 %}
      {% set offset = 2 %}
    {% else %}
      {% set offset = 0 %}
    {% endif %}
    
    <a class="blog-pagination__link blog-pagination__prev-link {{ 'blog-pagination__prev-link--disabled' if !last_page_num }}"{% if last_page_num %} href="{% if current_page_num == 2 %}{{ group.absolute_url }}{% else %}{{ blog_page_link(last_page_num) }}{% endif %}"{% endif %}>
      {% icon name='chevron-left', no_wrapper=True, purpose='decorative', style='SOLID', width='12' %} Prev
    </a>
    {% for page in page_list %}
      {% set this_page = current_page_num + page + offset %}
      {% if this_page > 0 and this_page <= contents.total_page_count %}
        <a class="blog-pagination__link blog-pagination__number-link {{ 'blog-pagination__link--active' if this_page == current_page_num }}" aria-label="Go to Page {{ this_page }}" {{ 'aria-current="true"' if this_page == current_page_num }} href="{% if this_page == 1 %}{{ group.absolute_url }}{% else %}{{ blog_page_link(this_page) }}{% endif %}">{{ this_page }}</a>
      {% endif %}
    {% endfor %}
    <a class="blog-pagination__link blog-pagination__next-link {{ 'blog-pagination__next-link--disabled' if !next_page_num }}"{% if next_page_num %} href="{{ blog_page_link(current_page_num + 1) }}"{% endif %}>
      Next {% icon name='chevron-right', no_wrapper=True, purpose='decorative', style='SOLID', width='12' %}
    </a>
  </nav>
{% endif %}