<div id="{{ module.custom_id }}" class="accordion{% if module.enable_accordion_auto_toggle %} accordion-auto-toggle{% else %} accordion-manual-toggle{% endif %} {{ module.custom_class }}">
  {% for item in module.accordion_items %}
    <div class="accordion-single"
      {% if module.enable_animation %}
        {% if module.animation_settings.animation_type == "default" %}
          data-aos="{{ theme.animations.animation_type }}"
        {% else %}
          data-aos="{{ module.animation_settings.animation_type }}"
        {% endif %}
        data-aos-delay="{{ loop.index * module.animation_settings.animation_delay }}"
        {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
        {% endif %}
      {% endif %}
    >  
      <div class="accordion-head bg-{{ module.background_color }}">
        <h5 class="accordion-title color-{{ module.text_color }}">{{ item.title }}</h5>
        <span class="accordion-icon color-{{ module.text_color }}">
          {% icon name='chevron-down' style='SOLID' unicode='f078', no_wrapper=true %}
        </span>
      </div>
      <div class="accordion-body color-{{ module.text_color }} bg-{{ module.background_color }}">
        <div class="accordion-body-inner">
          {{ item.text }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>