.hero-banner {
	position: relative;
	width: 100%;
	padding: 5rem 20px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  transition: all .3s ease-in-out;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.hero-banner:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.hero-banner .container {
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.hero-banner-text {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 50%;
  flex: 1 0 50%;
}
.hero-banner-image img {
  margin-top: 1.25rem;
  display: block;
  height: auto;
}
.hero-banner--image-text .hero-banner-image {
  margin-top: 0;
  -webkit-box-ordinal-group: 2;
  -ms-flex-order: 1;
  order: 1;
}
.hero-banner--image-text .hero-banner-image img {
  margin-top: 0;
  margin-bottom: 1.25rem;
}
.hero-banner--image-text .hero-banner-text {
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}
.hero-banner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: -.5rem;
}
.hero-banner-buttons > * {
  padding: .5rem;
}

@media (min-width: 480px) {
  .hero-banner-buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .hero-banner-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .hero-banner-image {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 50%;
    flex: 1 0 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-banner-image img {
    margin-left: 1.5rem;
    max-width: calc(100% - 1.5rem) !important;
  }
  .hero-banner--image-text .hero-banner-image img {
    margin-left: 0;
    margin-right: 1.5rem;
  }
}