<div id="{{ module.custom_id }}" class="hero-banner hero-banner-{{ name }}{% if module.layout == "image_text" %} hero-banner--image-text{% endif %}{% if module.enable_full_height %} full-height{% endif %}{% if module.background_overlay.fixed_background and ! module.style.custom_styling.background_color.color %} bg-fixed{% endif %}{% if module.background_overlay.background_type == 'color' %} bg-{{ module.background_overlay.background_color_choice }}{% endif %} {{ module.custom_class }}"
  {% if module.background_overlay.background_type == 'image' %}style="background-image:url('{{ module.background_overlay.background_image.src }}');"{% endif %}
>

  <div class="container">
    <div class="hero-banner-text text-{{ module.text.alignment }}{% if module.text.text_color != "default"  %} color-{{ module.text.text_color }}{% endif %}"
      {% if module.enable_animation %}
        {% if module.animation_settings.animation_type == "default" %}
          data-aos="{{ theme.animations.animation_type }}"
        {% else %}
          data-aos="{{ module.animation_settings.animation_type }}"
        {% endif %}
        {% if module.layout == "image_text" %}
          data-aos-delay="{{ module.animation_settings.animation_delay *2 }}"
        {% else %}
          data-aos-delay="{{ module.animation_settings.animation_delay }}"
        {% endif %}
        {% if module.animation_settings.override_default_animation_duration %}
          data-aos-duration="{{ module.animation_settings.animation_duration }}"
        {% endif %}
      {% endif %}
    >
      {% if module.text.subheading %}
        <label class="subheading">{{ module.text.subheading }}</label>
      {% endif %}
      {% if module.text.heading %}
        <{{ module.text.heading_size }} class="{% if module.text.text_color != 'default'  %} color-{{ module.text.text_color }}{% endif %}{% if module.text.heading_underline != 'none' %} heading-underline--{{ module.text.heading_underline }} pe-{{ module.text.heading_underline_color }}{% endif %}">
          <span>{{ module.text.heading }}</span>
        </{{ module.text.heading_size }}>
      {% endif %}
      {% if module.text.intro_text %}
        <div class="intro-text">
          {{ module.text.intro_text }}
        </div>
      {% endif %}
    
      {% if ( module.enable_button_1 and ( module.button_1.cta or ( module.button_1.button_text and module.button_1.link.url.href ) ) ) or ( module.enable_button_2 and ( module.button_2.cta or ( module.button_2.button_text and module.button_2.link.url.href ) ) ) %}
        <div class="hero-banner-buttons justify-{{ module.text.alignment }}">
          {% if module.enable_button_1 and ( module.button_1.cta or ( module.button_1.button_text and module.button_1.link.url.href ) ) %}
            {% if module.button_1.button_or_hubspot_cta == "cta" %}
              {% cta guid="{{ module.button_1.cta }}" %}
            {% elif module.button_1.button_or_hubspot_cta == "button" %}
              {% if module.button_1.link.url.type is equalto 'EMAIL_ADDRESS' %}
                {% set href = 'mailto:' ~ module.button_1.link.url.href %}
              {% elif module.button_1.link.url.href == '/' %}
                {% set href = module.button_1.link.url.href %}
              {% else %}
                {% unless (module.button_1.link.url.href is string_containing '//') or !module.button_1.link.url.href %}
                  {% set href = '//' ~ module.button_1.link.url.href %}
                {% else %}
                  {% set href = module.button_1.link.url.href or '' %}
                {% endunless %}
              {% endif %}
              {% set rel = (module.button_1.link.open_in_new_tab ? 'noopener ' : null) ~ (module.button_1.link.no_follow ? 'nofollow' : null) %}
              <span>
                <a
                  class="button button-{% if module.button_1.button_type == 'outline' %}outline-{% endif %}{{ module.button_1.button_color }}"
                  href="{{ href }}"
                  {% if module.button_1.link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel }}"{% endif %}
                >
                  {{ module.button_1.button_text }}
                </a>
              </span>
            {% endif %}
          {% endif %}

          {% if module.enable_button_2 and ( module.button_2.cta or ( module.button_2.button_text and module.button_2.link.url.href ) ) %}
            {% if module.button_2.button_or_hubspot_cta == "cta" %}
              {% cta guid="{{ module.button_2.cta }}" %}
            {% elif module.button_2.button_or_hubspot_cta == "button" %}
              {% if module.button_2.link.url.type is equalto 'EMAIL_ADDRESS' %}
                {% set href = 'mailto:' ~ module.button_2.link.url.href %}
              {% elif module.button_2.link.url.href == '/' %}
                {% set href = module.button_2.link.url.href %}
              {% else %}
                {% unless (module.button_2.link.url.href is string_containing '//') or !module.button_2.link.url.href %}
                  {% set href = '//' ~ module.button_2.link.url.href %}
                {% else %}
                  {% set href = module.button_2.link.url.href or '' %}
                {% endunless %}
              {% endif %}
              {% set rel = (module.button_2.link.open_in_new_tab ? 'noopener ' : null) ~ (module.button_2.link.no_follow ? 'nofollow' : null) %}
              <span>    
                <a
                  class="button button-{% if module.button_2.button_type == 'outline' %}outline-{% endif %}{{ module.button_2.button_color }}"
                  href="{{ href }}"
                  {% if module.button_2.link.open_in_new_tab %}target="_blank"{% endif %}
                  {% if rel %}rel="{{ rel }}"{% endif %}
                >
                  {{ module.button_2.button_text }}
                </a>
              </span>    
            {% endif %}
          {% endif %}
         </div>
      {% endif %}
    </div>
    {% if ( module.layout == 'text_image' or module.layout == 'image_text' ) and module.image.src %}
      {% set sizeAttrs = 'width="{{ module.image.width }}" height="{{ module.image.height }}"' %}
      {% if module.image.size_type == 'auto' %}
        {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
      {% elif module.image.size_type == 'auto_custom_max' %}
        {% set sizeAttrs = 'width="{{ module.image.max_width }}" height="{{ module.image.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = module.image.loading != 'disabled' ? 'loading="{{ module.image.loading }}"' : '' %}
      <div class="hero-banner-image"
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          {% if module.layout == "image_text" %}
            data-aos-delay="{{ module.animation_settings.animation_delay }}"
          {% else %}
            data-aos-delay="{{ module.animation_settings.animation_delay *2 }}"
          {% endif %}
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}     
      >
        <img src="{{ module.image.src }}" alt="{{ module.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      </div>
    {% endif %}
  </div>
</div>

{% require_css %}
<style>
  /* Overlay */
  {% if module.style.custom_styling.background_color.color %}
    .hero-nanner-{{name}} {
      background-color: rgba({{ module.style.custom_styling.background_color.color|convert_rgb }}, {{ module.style.custom_styling.background_color.opacity / 100 }});
    }
  {% endif %}
  {% if module.background_overlay.enable_overlay and module.style.custom_styling.overlay_color.color %}
    .hero-banner-{{ name }}:after {
      background-color: rgba({{ module.style.custom_styling.overlay_color.color|convert_rgb }}, {{ module.style.custom_styling.overlay_color.opacity / 100 }});
    }
  {% endif %}
  
  /* Container Width */
  {% if module.enable_custom_width %}
  .hero-banner-{{ name }} .container {
    max-width: {{ module.custom_width ~ 'px' }};
  }
  {% endif %}
</style>
{% end_require_css %}