<div id="{{ module.custom_id }}" class="list {{ module.custom_class }}">
  <ul class="list-inner">
    {% for item in module.list_items %}
      <li class="list-single"
        {% if module.enable_animation %}
          {% if module.animation_settings.animation_type == "default" %}
            data-aos="{{ theme.animations.animation_type }}"
          {% else %}
            data-aos="{{ module.animation_settings.animation_type }}"
          {% endif %}
          data-aos-delay="{{ loop.index * module.animation_settings.animation_delay }}"
          {% if module.animation_settings.override_default_animation_duration %}
            data-aos-duration="{{ module.animation_settings.animation_duration }}"
          {% endif %}
        {% endif %}
      >
        {% if module.list_style == 'bullet' %}
          <div class="list-indicator list-indicator--bullet">
            <span class="bg-{{ item.indicator_color }}"></span>
          </div>
        {% elif module.list_style == 'number' %}
          <div class="list-indicator list-indicator--number color-{{ item.indicator_color }}">
            {{loop.index}}.
          </div>
        {% elif module.list_style == 'icon' %}
          <div class="list-indicator list-indicator--icon">
            <span class="color-{{ item.indicator_color }}">
              {% icon
                name="{{ item.list_icon_field.name }}"
                style="{{ item.list_icon_field.type }}"
                unicode="{{ item.list_icon_field.unicode }}"
                icon_set="{{ item.list_icon_field.icon_set }}",
                no_wrapper=true
              %}
            </span>
          </div>
        {% elif module.list_style == 'image' %}
          <div class="list-indicator list-indicator--image">
            	{% if item.image.src %}
                {% set sizeAttrs = 'width="{{ item.image.width }}" height="{{ item.image.height }}"' %}
                {% if item.image.size_type == 'auto' %}
                  {% set sizeAttrs = 'style="max-width: 100%; height: auto;"' %}
                {% elif item.image.size_type == 'auto_custom_max' %}
                  {% set sizeAttrs = 'width="{{ item.image.max_width }}" height="{{ item.image.max_height }}" style="max-width: 100%; height: auto;"' %}
                {% endif %}
                 {% set loadingAttr = item.image.loading != 'disabled' ? 'loading="{{ item.image.loading }}"' : '' %}
                <img src="{{ item.image.src }}" alt="{{ item.image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>{{ resize_image_url(content.post_list_summary_featured_image, 820 ) }}
              {% endif %}
          </div>
        {% endif %}
        <div class="list-text color-{{ module.text_color }}">
          {{ item.text }}
        </div>
      </li>
    {% endfor %}
  </ul>
</div>