<div id="{{ module.custom_id }}" class="social-links justify-{{ module.alignment }} {{ module.custom_class }}">
  {% for item in module.social_links %}
    {% set href = item.social_link.url.href %}
    {% if item.social_link.url.type is equalto "EMAIL_ADDRESS" %}
      {% set href = "mailto:" + href %}
    {% endif %}
  
    {% set rel = (item.social_link.open_in_new_tab ? 'noopener ' : null) ~ (item.social_link.no_follow ? 'nofollow' : null) %}
    
    {% if item.social_account != 'custom_icon' %}
      {% set social_icon = item.social_account %}
    {% else %}
      {% set social_icon = item.custom_icon.name %}
    {% endif %}
    
    {% if module.enable_animation %}
      <div class="social-links-single-wrapper"
        {% if module.animation_settings.animation_type == "default" %}
          data-aos="{{ theme.animations.animation_type }}"
        {% else %}
          data-aos="{{ module.animation_settings.animation_type }}"
        {% endif %}
        data-aos-delay="{{ loop.index * module.animation_settings.animation_delay }}"
        {% if module.animation_settings.override_default_animation_duration %}
          data-aos-duration="{{ module.animation_settings.animation_duration }}"
        {% endif %}
      >
    {% endif %}
      <a class="social-links-single bg-{{ item.background_color }} color-{{ item.icon_color }}" href="{{ href }}"
        {% if item.social_link.open_in_new_tab %}target="_blank"{% endif %}
        {% if rel %}rel="{{ rel }}"{% endif %}
      >
        {% icon
          name='{{ social_icon }}',
          style='SOLID',
          title='{{ social_icon }}',
          unique_in_loop=True,
          no_wrapper=true
        %}
      </a>
    {% if module.enable_animation %}
      </div>
    {% endif %}
  {% endfor %}
</div>