<div id="{{ module.custom_id }}" class="tabs {{ module.custom_class }}"
  {% if module.enable_animation %}
    {% if module.animation_settings.animation_type == "default" %}
      data-aos="{{ theme.animations.animation_type }}"
    {% else %}
      data-aos="{{ module.animation_settings.animation_type }}"
    {% endif %}
    data-aos-delay="{{ loop.index * module.animation_settings.animation_delay }}"
    {% if module.animation_settings.override_default_animation_duration %}
        data-aos-duration="{{ module.animation_settings.animation_duration }}"
    {% endif %}
  {% endif %}
>  
  <ul class="tab-list">
    {% for item in module.tabs %}
      <li class="tab-button color-{{ item.title_text_color }} bg-{{ item.title_background_color }} pe-{{ item.title_text_color }}" data-tab="tab_{{ name }}_{{ loop.index }}">
        {{ item.title }}
      </li>
    {% endfor %}
  </ul>

  <div class="tab-body">
    {% for item in module.tabs %}
      <div id="tab_{{ name }}_{{ loop.index }}" class="tab-body-inner bg-{{ module.body_background_color }} color-{{ module.body_text_color }}">
        {{ item.text }}
      </div>
    {% endfor %}
  </div>
</div>