.tab-list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tab-button {
  cursor: pointer;
  padding: 1.5rem;
  font-size: 1.25rem;
  line-height: 1;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tab-button:hover,
.tab-button.active {
  opacity: .875;
}
.tab-button:after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.tab-button:hover:after,
.tab-button.active:after {
  width: 100%;
  left: 0;
}
.tab-body-inner {
  display: none;
  padding: 1.5rem;
}
.tab-body-inner:first-child {
  display: block;
}
.tab-body-inner.bg-transparent {
  padding: 1rem 0;
}